.afterhours_headline {
  text-align: center;
  padding-top: 30px;
  @media (max-width: 767px) {
    padding-top: 0;
  }
  & h1 {
    font-size: 30px;
    margin-bottom: 0;
    font-family: "Gotham", sans-serif;
    font-weight: 400;

    @media (max-width: 420px) {
      font-size: 14px;
      transform: translateY(20px);
      -webkit-transform: translateY(20px);
      -moz-transform: translateY(20px);
      -ms-transform: translateY(20px);
      -o-transform: translateY(20px);
    }

    @media (min-width: 421px) and (max-width: 575px) {
      font-size: 16px;
      transform: translateY(20px);
      -webkit-transform: translateY(20px);
      -moz-transform: translateY(20px);
      -ms-transform: translateY(20px);
      -o-transform: translateY(20px);
    }

    @media (min-width: 576px) and (max-width: 767px){
      font-weight: normal;
      text-align: left;
      padding-left: 10px;
      font-size: 21px;
      transform: translateY(25px);
    }

    @media (max-width: 767px) {
      text-align: left;
      padding-left: 10px;
    }
  }
  & h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
  }
}
.afterhours_header__content {
  text-align: center;
  width: 100%;
  & p {
    margin-bottom: 0;
  }
  & div {
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px;
  }
  & .text_big {
    font-size: 60px;
    font-weight: bold;

    @media (max-width: 767px) {
      font-size: 32px;
      text-align: left;
      margin-top: 15px;
    }
  }
}
.afterhours_image__container {
  & figure {
    margin: 0;
  }
}

@media (min-width: 992px) {
  .afterhours_header__content {
    & div {
      width: 35%;
      margin: 0 auto;
    }
  }
  .afterhours_image__container {
    text-align: center;
    & figure {
      width: 100%;
    }
  }
}

.mozes {
  background-color: #fff;
  color: $main-color;
  font-size: 26px;
  padding: 0 15px;
  display: table;
  margin: 0 auto;

  @media (max-width: 767px){
    font-size: 15px;
  }
}