.awards_title {
  color: #ffffff;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}

.osvoji {
  font-size: 30px;
  font-family: "Gotham", sans-serif;
  font-weight: 400;
  margin: 20px auto 0 auto;
  @media (max-width: 639px) {
    font-size: 18px;
  }
}

span.textino-whitino {
  color: #009cd1;
  background-color: #fff;
  padding: 5px;
}

.bottom-logo {
  background-image: url("../img/homeFooterBackground.png");
  height: 80px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 768px) {
  .awards-container {
    .mobile {
      .main-row {
        border-bottom: none;
        img {
          margin-right: auto;
          margin-left: auto;
          max-width: 90%;
          margin-top: -60px;
        }
      }
    }
  }
  .bottom-logo {
    background-position: right;
  }
}