

.contact-child-container {
  position: relative;
  .contact-background {
    background-image: url("../img/kontaktBackground.png");
    position: absolute;
    height: 500px;
    width: 100%;
    background-position: left top;
    background-repeat: no-repeat;
    border-bottom: 3px solid #ee252a;
    z-index: 0;
    img {
      display: none;
    }
  }
  .contact-container {
    width: 400px;
    margin-left: auto;
    padding-top: 50px;
    position: relative;
    h1 {
      font-family: $blogScriptBold;
      padding-top: 20px;
    }
    h3 {
      text-transform: uppercase;
    }
    .special-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
    }
  }
}

@media (max-width: 767px) {
  .contact-parent-container {
    max-width: 100%;
    .contact-child-container {
      max-width: 100%;
      .contact-background {
        margin-top: -60px;
        border-bottom: none;
        position: relative;
        background: none;
        height: auto;
        img {
          display: block;
          width: 100%;
          height: auto;
          margin-left: auto;
          margin-right: -16px;
        }
      }
      .contact-container {
        margin: 0 auto;
        padding-top: 20px;
        width: 90%;
        h4 {
          font-size: 20px;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .contact-parent-container {
    max-width: 100%;
    .contact-child-container {
      max-width: 100%;
      .contact-background {
        margin-top: -60px;
        background-position: center top;
        background-size: contain;
      }
      .contact-container {
        margin: 420px auto 100px auto;
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .contact-parent-container {
    padding: 0;
  }
  .contact-child-container {
    max-width: 1024px;
    .contact-background {
      background-size: 75%;
    }
    h4 {
      font-size: 21px;
    }
  }
}


.contact-desktop {
  .row {
    .container {
      .bottom-logo {
        margin-top: 120px;
      }
    }
  }
}

.container_section {
  @include display-flex;
  @include justify-center;
  @include align-center;
  @include flex-column;
  padding-top: 10px;  @include display-flex;
  @include justify-center;
  @include align-center;
  @include flex-column;
  padding-bottom: 10px;

  &.flex_row {
    @include flex-row;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  figure {
    margin: 0;
  }

  @media (max-width: 767px) {
    .usce-shopping {
      margin-bottom: 30px;
    }
  }
}


