.dashboard-container {
  width: 90%;
  margin: 0 auto;
}

.dashboard_head__container {
  @include display-flex;
  @include space-between;
  margin-bottom: 25px;
  & .dashboard_title {
    font-size: 20px;
    font-weight: 700;
  }
  & .dashboard_controls {
    & form {
      & input[type="submit"] {
        font-size: 16px;
      }
    }
  }
}

.dashboard_reward__controls.row {
  position: relative;
}

.dataTables_filter {
  & label {
    color: #ffffff;
    width: 100%;
    @media (max-width: 640px) {
      font-size: 15px;
    }
    & input {
      color: #ffffff;
      @media (max-width: 767px) {
        display: block !important;
        width: 100% !important;
        margin-left: 0 !important;
      }
    }
  }
}

#dashboard-pills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5px 1fr;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 5px;
  -ms-grid-rows: 1fr 5px 1fr;
  grid-template-rows: repeat(2,1fr);
  grid-row-gap: 10px;
  & li {
    & a {
      height: 100%;
      color: #ffffff;
      text-align: center;
    }
  }
}

.dashboard_reward__controls {
    @include display-flex;
    @include space-between;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 25px;
    & form {
        @include display-flex;
        flex: 0 0 50%;
        max-width: 50%;
        & input {
          width: 100%;
          outline: none;
          border: 0;
          padding: 5px 10px;
          border-radius: 10px;
        }
    }
}

#winners2_wrapper {
  overflow-x: scroll;
}

@media (min-width: 992px) {
  .dashboard_head__container {
    margin-top: 25px;
    & .dashboard_title {
      padding: 0 10px;
    }
  }

  .dataTables_filter {
    & label {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .dashboard_reward__controls {
    @include display-flex;
    @include space-between;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 25px;
    & form {
      @include display-flex;
      flex: 0 0 33%;
      max-width: 33%;
      & input {
        width: 100%;
        outline: none;
        border: 0;
        padding: 5px 10px;
        border-radius: 10px;
      }
    }
  }
}

@media (min-width: 1200px) {
  #dashboard-pills {
    -ms-grid-columns: 1fr 5px 1fr 5px 1fr 5px 1fr;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
  }
}

@media (min-width: 1440px) {
  #winners2_wrapper {
    overflow-x: initial;
  }
}
