.error_404_container {
  background-color: lighten($color: $secondary-color, $amount: 40%);
  margin-bottom: 0;
  margin-top: 5rem;
  & h1 {
    font-size: 2.5rem;
    color: #000000;
  }
  & .go_back_btn {
    background-color: $color-green;
    outline: none;
    border: none;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    padding: 5px 10px;
  }
}

@media (min-width: 1200px) {
  .error_404_container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;

    & .go_back_btn {
      width: 35%;
      margin-right: auto;
      margin-left: 0;
    }
  }
}
