.first-list {
  padding-left: 40px !important;
  list-style-type: initial;
}

.rules_list__container {
  color: #fff;

  li {
    margin-bottom: 10px;
  }
}

.modal-terms {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0090d2;
  padding: 40px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.65);

  @media (max-width: 767px) {
    width: 90%;
  }

  p {
    margin-bottom: 0;
    text-align: center;
  }

  a {
    cursor: pointer;
  }
}
