// @font-face {
//     font-family: 'Lato';
//     src: url('../fonts/Lato-Regular.eot');
//     src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/Lato-Regular.woff') format('woff'),
//         url('../fonts/Lato-Regular.ttf') format('truetype'),
//         url('../fonts/Lato-Regular.svg#Lato-Regular') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Lato';
//     src: url('../fonts/Lato-Regular_1.eot');
//     src: url('../fonts/Lato-Regular_1.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/Lato-Regular_1.woff') format('woff'),
//         url('../fonts/Lato-Regular_1.ttf') format('truetype'),
//         url('../fonts/Lato-Regular_1.svg#Lato-Regular') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/asd/GothamBH-Book.woff2');
    src: url('../fonts/asd/GothamBH-Book.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/asd/GothamBH-Bold.woff2');
    src: url('../fonts/asd/GothamBH-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/asd/GothamBH-Medium.woff2');
    src: url('../fonts/asd/GothamBH-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

// @font-face {
//     font-family: 'Gotham';
//     src: url('../fonts/asd/GothamLight.woff2');
//     src: url('../fonts/asd/GothamLight.woff') format('woff');
//     font-weight: 300;
//     font-style: normal;
// }

@font-face {
    font-family: 'blogscriptregular';
    src: url('../fonts/blogScript/blogscript-regular2-webfont.woff2') format('woff2'),
    url('../fonts/blogScript/blogscript-regular2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'blogscriptbold';
    src: url('../fonts/blogScript/blogscript-webfont.woff2') format('woff2'),
    url('../fonts/blogScript/blogscript-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
