.gamefinished_headline {
  text-align: center;
  & h1 {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 0;
  }
  & h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
  }
}
.gamefinished_header__content {
  text-align: center;
  width: 100%;
  & p {
    margin-bottom: 0;
  }
  & div {
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px;
  }
  & .text_big {
    font-size: 38px;
  }
}
.gamefinished_image__container {
  & figure {
    margin: 0;
  }
}

@media (min-width: 992px) {
  .gamefinished_headline {
    margin-top: 20px;
    text-align: left;
    & h1 {
      font-size: 100px;
      font-weight: bold;
      margin-bottom: 0;
    }
    & h2 {
      font-size: 80px;
      font-weight: bold;
      margin-bottom: 0;
    }
  }
  .gamefinished_header__content {
    text-align: left;
    padding: 2px 0;
    & span {
      padding: 5px 10px;
      font-size: 22px;
    }
    &:first-child {
      & span {
        font-weight: bold;
      }
    }
  }
  .gamefinished_image__container {
    text-align: center;
    margin-top: 20px;
    & figure {
      width: 100%;
    }
  }
}

.game-over {
  .mozes {
    @media (max-width: 767px) {
      font-size: 21px;
      
      &:first-of-type {
        margin-bottom: 20px;
      }
    }
  }
}