* {
  outline: none;
}

html, body {
  font-family: 'Gotham', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

body {
  min-height: 100%;
  max-width: 100vw;
  position: relative;
  overflow-x: hidden;
  &::after {
    content: '';
    display: block;
    height: 120px;
    @media (max-width: 768px) {
      height: 30px;
    }
  }
}
#bodyCover {
  position: fixed;
  z-index: -1;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  top: 0px;
  left: 0px;
  background-image: url("../img/CoverBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
}


.desktop {
  @media (max-width: 767px) {
    display: none;
  }
}

.only-desktop {
  @media (max-width: 767px) {
    display: none;
  }
}

.mobile {
  @media (min-width: 768px) {
    display: none;
  }
}

@media (max-width: 767px) {
  .slot-row {
    margin-top: 0;
  }

  .slot-machine {
    padding: 15px 0;
  }
}

.three-slot-machine {
  .slot-line-container {
    
    &:nth-of-type(2) {
      margin-left: 15px;
      margin-right: 15px;
      @media (max-width: 640px) {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
}

.slot-machine.six-slot-machine {
  @media (min-width: 768px) and (max-width: 1024px) {
    .slot-line-container {
      width: calc(100% / 6 - 10px);
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

.dashboard_reward__controls {
  margin: 0 auto 20px auto;
  @media (max-width: 767px) {
    max-width: 100%;
    margin: 0 auto;
  }
  form {
    @media (max-width: 767px) {
      min-width: 100%;
      max-width: 100% !important;
      margin-bottom: 20px !important;
      display: block;
    }
  }
}

.mail-wrapper {
  padding: 10px 20px;
  display: flex;
  .left {
    width: 20%;
  }
  .right {
    width: 80%;
    h1,h2 {
      font-size: 60px;
      color: #fff;
      font-weight: bold;
    }
  }
}

.error-parent {
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
  h1 {
    font-weight: bold;
    font-size: 65px;
    color: #fff;
  }
  img {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  p {
    font-weight: 300;
    color: #fff;
    font-size: 25px;
  }
}

.footer_container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  @media (max-width: 640px) {
    padding-top: 15px;
  }
}
.font-large {
  font-size: 55px;
  font-weight: normal;
}
.px-15 {
  padding: 0 15px;
}
.bg_red {
  background-color: $color-red !important;
}
.bg_green {
  background-color: $color-green !important;
}
// .bg_orange {
//   background-color: $main-color !important;
// }

.mx-mobile-none {
  margin-left: 0;
  margin-right: 0;
}

.error_container {
  text-align: center;
  color: #000000;
  font-size: 20px;
}

.error-message {
  font-size: 14px;
  color: #453838;
}

@media(min-width: 576px) {
  .mx-mobile-none {
    margin-left: -15px;
    margin-right: -15px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-internal-autofill-previewed,
input:-internal-autofill-selected {
  background-color: rgba(255,255,255,0) !important;
  background-image: none !important;
  background: none !important;
}


.paragraph-row {
  font-size: 37px;

  @media (max-width: 767px) {
    font-size: 24px;
  }
}

.textino-whitino {
  font-size: 18px;

  @media (max-width: 767px) {
    font-size: 16px;
  }
}

.slot-row {
  margin-top: 0px;
  position: relative;
}

table.table {
  thead {
    tr {
      border: 1px solid #fff;
      th {
        font-size: 13px;
        color: #0090d2 !important;
      }
    }
  }
  tbody {
    tr {
      background: #fca735;
      td {
        font-size: 14px;
        padding: 10px;
        &:first-child {
          border-left: 1px solid #fff;
        }
        &:last-child {
          border-right: 1px solid #fff;
        }
        @media(max-width: 400px) {
          font-size: 12px;
          padding: 3px;
        }
      }
    }
  }
}