
@media(max-width: 600px) {
  .container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .mehanizam {
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 25px;
    border-top: 2px solid $color-red;
    margin-top: 25px;
  }
}

.headline {
  @include display-flex;
  @include flex-row;
  @media (max-width: 767px) {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  & figure {
    margin-bottom: 0;
    width: 25%;
  }

  & .headline_title {
    @include display-flex;
    @include flex-column;
    @include justify-center;

    & h1 {
      margin-bottom: 0;
      font-size: 30px;
      font-family: "Gotham", sans-serif;
      font-weight: 400;
      @media (max-width: 767px) {
        font-size: 16px;
      }
    }

    & h2 {
      margin-bottom: 0;
      font-size: 24px;
      font-weight: bold;
      @media (max-width: 767px) {
        font-size: 18px;
      }
    }
  }
}

.homepage_title {
  font-size: 18px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: normal;
}

.homepage_register__form {
  position: relative;
  .home-footer-background {
    position: absolute;
    right: 0;
  }
  & .submit_btn {
    width: 100%;
  }
  @media (max-width: 991px) {
    height: 100px;
    background-position: right;
    background-size: auto;
    .home-footer-background {
      bottom: 0;
    }
    & .form-group {
      input.submit_btn {
        width: 60%;
      }
    }
  }
}

.rewards_info {
  @include display-flex;
  @include flex-column;
  @include justify-center;
  @media (min-width: 768px) and (max-width: 991px) {
    & > * {
      margin-bottom: 20px;
    }
  }

  & h3 {
    text-align: center;
    font-size: 20px;
    margin: 10px 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-weight: bold;
    font-family: "Gotham", sans-serif;
    font-weight: 700;
    @media (max-width: 639px) {
      font-size: 18px;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      padding-right: 45px;
    }
  }

  & p {
    text-align: center;
    font-size: 12px;
    margin-bottom: 0;
  }
}

.short {
  width: 60%;
}

.glavna {
  font-size: 26px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  font-family: "Gotham", sans-serif;
  font-weight: 700;
  padding-right: 100px;
  display: table;
  @media (max-width: 639px) {
    padding-right: 35px;
  }
}

.kartice {
  img {
    width: 90%;
    @media (max-width: 639px) {
      width: auto;
    }
  }
}

@media (min-width: 768px) {
  .headline {
    margin-top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .homepage_register__form {
    & .submit_btn {
      width: 35%;
    }
  }
  .rewards_info {
    & div.text-center {
      font-size: 26px;
    }

    & p {
      font-size: 16px;
      text-align: left;
    }

    & h3 {
      font-size: 20px;
    }
  }
}

@media (min-width: 1200px) {
  .headline {
    @include display-flex;
    @include align-center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    margin: 0 auto;
    padding-top: 30px;
    margin-bottom: 15px;

    figure {
      margin: 0;
    }

    .headline_title {
      h1 {
        font-size: 30px;
        margin: 0;
        text-align: center;
        width: 100%;
      }

      h2 {
        font-size: 48px;
        font-weight: 700;
        margin: 0;
        text-align: center;
        width: 100%;
      }
    }
  }
  .homepage_title {
    font-size: 30px;
    font-weight: normal;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    @media (max-width: 639px) {
      margin-top: 20px;
    }
  }


  .daily_rewards_list {
    display: block;
    list-style: none;
    padding-left: 0;
    margin: 0;

    li {
      font-weight: bold;
    }
  }
  .homepage_daily_rewards__container {
    position: relative;

    & .homepage_daily_rewards__item {
      position: absolute;
      width: 80%;
      margin: 0;

      &:nth-child(1) {
        top: 0;
        left: 15%;
        -webkit-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        transform: rotate(15deg);
        z-index: 1;
      }

      &:nth-child(2) {
        top: 38%;
        left: -25%;
        -webkit-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
        transform: rotate(20deg);
        z-index: 2;
      }

      &:nth-child(3) {
        top: 85%;
        left: 15%;
        -webkit-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        transform: rotate(-15deg);
        z-index: 3;
      }
    }
  }
}

.submit_btn {
  background-color: $color-red;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  padding: 5px 10px;
}

.accept_terms {
  @include display-flex;
  @include align-center;
  @include justify-center;
  @include row-reverse;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #ffffff;
  position: relative;

  label {
    margin: 0;
    color: #ffffff;
    width: initial;
  }

  input {
    margin-right: 5px;
  }

  .error-message {
    position: absolute !important;
    padding-left: 0 !important;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 14px !important;

    &::before,
    &::after {
      display: none;
    }

    @media (max-width: 991px) {
      position: relative;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      margin: 0 auto;
      display: block;
      text-align: center;
    }
  }
}

.accept_info_game {
  text-align: center;
  margin: 0 auto;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
  -ms-flex-direction: initial;
  flex-direction: initial;

  @media (max-width: 767px) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    input {
      -ms-flex-item-align: start;
      align-self: flex-start;
    }
  }

  label {
    color: #fff;
  }

  a {
    color: #fff;
    text-decoration: underline;
  }
}

.mobile {
  .headline .headline_title h1 {
    font-size: 24px;
  }

  .homepage_register__form {
    .submit_btn {
      width: 90%;
    }
  }

  .homepage_title {
    font-size: 15px;
    margin: 22px 0;
  }

  .glavna {
    font-size: 22px;
    padding: 2px 30px;
    margin: 0 auto;
    margin-bottom: 0px;
    display: table;
    text-align: center;
    margin-bottom: 10px !important;
    min-width: 300px;
  }

  .desetodnevno {
    font-size: 12px;
  }

  .instant {
    font-size: 18px;
  }

  .daily_rewards_list {
    font-size: 14px;
  }

  .vaucer {
    font-size: 14px;
  }

  .instant-nagrada2 {
    font-size: 30px;
    margin-bottom: 0;
  }
  @media (max-width: 768px) {
    .mob-home-back {
      width: calc(100% + 15px);
      margin-top: -57px;
    }
  }
}

.rewards_info-img {
  img {
    display: table;
    margin-left: auto;

    @media (min-width: 768px) and (max-width: 991px) {
      margin: auto;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-row {
    //padding-top: 25px;
  }

  .glavna {
    margin-bottom: 10px !important;
  }

  .rewards_info p {
    margin-bottom: 10px !important;
    font-size: 14px;
  }

  .short {
    width: 80%;
  }

  .daily_rewards_list li {
    font-size: 14px;
  }
}

#modal-accept {
  background-color: #0090d2;
  width: auto;
  height: auto;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  right: auto;

  @media (max-width: 639px) {
    width: 80%;
  }

  h2 {
    font-size: 20px;
  }

  .modal-content {
    background-color: #0090d2;
    padding: 50px;

    @media (max-width: 639px) {
      padding: 20px;
    }
  }
}

.game-rules {
  padding-top: 40px;
}

.go-to-prijava {
  background-color: #ee252a;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  padding: 5px 10px;
  width: 35%;
  padding: 0;
  text-align: center;

  &:hover {
    text-decoration: none;
    color: #fff;
  }

  @media (max-width: 767px) {
    min-width: 300px;
  }
}



div.mehanizam {
  height: auto;
  padding-bottom: 20px;
  @include display-flex;

  .mehanizam-left {
    .mehanizam-inner-left {
      background-image: url("../img/111.000rsd.png");
      height: auto;
      width: 120px;
    }
  }

  .mehanizam-right {
    .mehanizam-inner-left {
      background-image: url("../img/3000-6000rsd.png");
      height: auto;
      width: 300px;
    }
  }

  .mehanizam-left, .mehanizam-right {
    height: auto;
    @include display-flex;
    padding: 0px;
    .mehanizam-inner-left {
      background-size: contain;
      background-repeat: no-repeat;
    }

    .mehanizam-inner-right {
      padding: 14px 3px;
      line-height: 15px;

      h5 {
        color: $color-red;
        font-family: $blogScriptBold;
        text-transform: uppercase;
        margin-bottom: 0px;
      }

      p {
        font-family: 'Gotham', sans-serif;
        color: #fff;
        font-size: 13px;
        margin-bottom: 0px;
      }
    }
  }

  @media (max-width: 768px) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    .mehanizam-inner-left {
      background-position: center;
    }
    .mehanizam-inner-right {

    }
  }
}

div.main-row {
  border-bottom: 3px solid $color-red;
  padding-bottom: 25px;
  margin-bottom: 25px;
  @media (min-width: 768px) and (max-width: 991px) {
    img {
      width: calc(100% + 15px);
      margin-top: -57px;
      height: 100%;
    }
  }
}