.login_title {
    margin-top: 25px;
    margin-bottom: 25px;
    & span {
        padding: 10px;
        font-size: 24px;
        font-weight: 700;
    }
}

.login_form {
    & label {
        color: #ffffff;
    }
    & input {
        color: #ffffff;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #ffffff;
        }
        &::-moz-placeholder { /* Firefox 19+ */
            color: #ffffff;
            opacity: 1;
        }
        &:-ms-input-placeholder { /* IE 10+ */
            color: #ffffff;
        }
        &:-moz-placeholder { /* Firefox 18- */
            color: #ffffff;
            opacity: 1;
        }
    }
}