#looser-modal {
  display: none;
  .looser-desk-back {
    display: block;
    margin-bottom: 30px;
    @media(min-width: 768px) and (max-width: 991px) {
      margin-top: -60px;
    }
    @media(max-width: 767px) {
      margin-top: 0px;
    }
  }
  .kombinacija-brojeva-container {
    width: auto;
    text-align: center;
    margin-bottom: 40px;
    .kombinacija-brojeva-title {
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      @media(max-width: 450px) {
        font-size: 20px;
      }
    }
    .kombinacija-brojeva {
      .numberBox {
        width: 32px;
        height: 34px;
        background: #fff;
        display: inline-block;
        text-align: center;
        border-radius: 6px;
        margin-left: 3px;
        margin-right: 3px;
        box-shadow: 0px 1px 8px -2px #000;
        @media(max-width: 450px) {
          width: 20px;
          height: 28px;
        }
        p {
          font-size: 19px;
          color: #0090d2;
          margin-bottom: 0px;
          padding-top: 5px;
          font-weight: bold;
          @media(max-width: 450px) {
            font-size: 17px;
            padding-top: 2px;
          }
        }
      }
    }
  }
}


.luckyjack-container {
  max-width: 1200px;
  border-bottom: 2px solid red;
  padding-bottom: 60px;
  @media (max-width: 991px) {
    border-bottom: none;
  }
  .slot-row {
    .lucky-jack-background {
      position: absolute;
      .lucky-jack-desk-backg {
        display: block;
        @media(max-width: 600px) {
          display: none;
        }
      }
      .lucky-jack-mob-backg {
        display: none;
        @media(max-width: 600px) {
          display: block;
          margin-left: auto;
        }
      }
    }
    .container {
      max-width: 1220px;
      .slot-machine {
        justify-content: flex-end;
        padding: 110px 0 50px 0;
        .slot-line-container {
          position: relative;
          background-image: none;
          background-color: #099ad7;
          height: 240px;
          //height: 240px;
          .slot-line {
            img {
              left: 16px;
              box-shadow: 0px 5px 13px #000;
              border-radius: 5px;
              height: 93px;
            }
          }
          .slot-line-cover-top {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 30%;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent);
            z-index: 1;
          }
          .slot-line-cover-bottom {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 30%;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
            z-index: 1;
          }
        }
      }
      #spin-button {
        margin-right: 90px;
        width: 380px;
      }
    }
  }
}
.lucky-jack-nagrade {
  display: flex;
  margin: 20px auto 20px auto;
  height: 130px;
  width: 70%;
    @media (max-width: 991px) {
        width: 90%;
    }

  .nagrade-inner-left {
    background-image: url("../img/3000-6000rsd.png");
    height: auto;
    width: 300px;
    background-repeat: no-repeat;
    @media (max-width: 768px) {
      background-size: contain;
    }
  }
  .nagrade-inner-right {
    padding: 14px 3px;
    line-height: 15px;

    h5 {
      color: $color-red;
      font-family: $blogScriptBold;
      text-transform: uppercase;
      margin-bottom: 0px;
    }

    p {
      font-family: 'Gotham', sans-serif;
      color: #fff;
      font-size: 13px;
      margin-bottom: 0px;
    }
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .luckyjack-container {
    max-width: 95%;
    .slot-row {
      .lucky-jack-background {
        width: 70%;
        img {
          width: 90%;
        }
      }
      .container {
        .slot-machine {
          justify-content: right;
          padding: 20px 0 50px 0;
          width: 100% !important;
          .slot-line-container {
            height: 200px;
            width: 150px;
            .slot-line {
              width: 83% !important;
              .slot-image {
                max-width: 100%;
                width: 123px;
                height: 75px;
              }
            }
          }
        }
        #spin-button {
          width: 300px;
          margin-right: 130px;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .luckyjack-container {
    .slot-row {
      .lucky-jack-background {
        position: relative;
        width: 100%;
        height: auto;
        margin-top: -60px;
        text-align: center;
        img {
          height: 100%;
          width: 90%;
        }
      }
      .container {
        .slot-machine {
          justify-content: center;
          padding: 20px 0 50px 0;
          .slot-line-container {
            height: 200px;
            width: 150px;
            .slot-line {
              max-width: 90%;
              .slot-image {
                max-width: 100%;
                width: 123px;
                height: 75px;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .luckyjack-container {
    .slot-row {
      .container {
        .slot-machine {
          .slot-line-container {
            height: 150px;
            width: 110px;
            .slot-line {
              max-width: 95%;
              .slot-image {
                width: 80px;
                height: 58px;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .luckyjack-container {
    .slot-row {
      .lucky-jack-background {
      }
      .container {
        .slot-machine {
          .slot-line-container {
            .slot-line {
              .slot-image {
              }
            }
          }
        }
      }
    }
  }
}