.hidden-container {
  display: none;
}

#winner-modal {
  .winner-cover {
    display: block;
  }
  .left {
    width: 550px;
    margin-right: 50px;
    padding-top: 50px;
    @media(max-width: 1200px) {
      width: 740px;
    }
    @media(max-width: 991px) {
      width: 90%;
      margin: 0 auto;
      padding-top: 0px;
    }
    .main-cestitamo-top-left,
    .main-cestitamo-bottom-left {
      @media(max-width: 991px) {
        display: none;
      }
    }
    .main-cestitamo-mob-cover {
      display: none;
      margin: 0 auto;
      @media(max-width: 991px) {
        display: block;
      }
    }
    .kombinacija-brojeva-container {
      width: auto;
      text-align: center;
      margin-bottom: 60px;
      margin-top: 60px;
      .kombinacija-brojeva-title {
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        font-size: 22px;
        @media(max-width: 450px) {
          font-size: 20px;
        }
      }
      .kombinacija-brojeva {
        .numberBox {
          width: 32px;
          height: 34px;
          background: #fff;
          display: inline-block;
          text-align: center;
          border-radius: 6px;
          margin-left: 3px;
          margin-right: 3px;
          box-shadow: 0px 1px 8px -2px #000;
          @media(max-width: 450px) {
            width: 19px !important;
            height: 28px;
          }
          p {
            font-size: 19px;
            color: #0090d2;
            margin-bottom: 0px;
            padding-top: 5px;
            font-weight: bold;
            @media(max-width: 450px) {
              font-size: 17px;
              padding-top: 2px;
            }
          }
        }
      }
    }
  }
  .right {
    @media(max-width: 991px) {
      display: none;
    }
  }
}


.main-winner-container {
  @media(max-width: 991px) {
    max-width: 90%;
  }
  .row {
    .container {
      @media(max-width: 991px) {
        max-width: 100%;
      }
      .top-background {
        margin-top: -30px;
        display: block;
        @media (max-width: 500px) {
          display: none;
        }
      }
      .top-mob-background {
        display: none;
        @media (max-width: 500px) {
          display: block;
          margin-top: -30px;
        }
      }
      .special-margin {
        @media(max-width: 500px) {
          margin-top: -130px !important;
        }
      }
      .slot-machine {
        padding-top: 0px;
        margin-top: -40px;
        @media(max-width: 500px) {
          justify-content: center;
        }
        @media(max-width: 768px) {
          padding-top: 30px;
        }
        .slot-line-container {
          position: relative;
          width: 90px;
          height: 150px;
          background-image: none;
          background-color: #099ad7;
          @media(max-width: 500px) {
            height: 45px;
            width: 30px;
            -webkit-box-shadow: inset 0px 10px 50px 10px rgba(0,0,0,0.1);
            -moz-box-shadow: inset 0px 10px 50px 10px rgba(0,0,0,0.1);
            box-shadow: inset 0px 10px 50px 10px rgba(0,0,0,0.1);
            margin-left: 2px;
            margin-right: 2px;
            border-radius: 5px;
          }
          @media(min-width: 501px) and (max-width: 768px) {
            height: 70px;
            width: 45px;
            border-radius: 5px;
          }
          @media(min-width: 769px) and (max-width: 991px) {
            height: 110px;
          }
          @media(max-width: 1200px) and (min-width: 991px) {
            width: 80px;
          }
          .slot-line {
            img {
              @media(max-width: 768px) {
                width: 15px;
                height: 30px;
                left: 35% !important;
              }
              @media(max-width: 500px) {
                left: 24% !important;
              }
            }
          }
          .slot-line-cover-top {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 30%;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent);
            z-index: 1;
          }
          .slot-line-cover-bottom {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 30%;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
            z-index: 1;
          }
        }
      }
      .bottom-background {
        margin-bottom: 30px;
        display: block;
        @media(max-width:500px) {
          width: 90%;
          margin: 30px auto;
          display: none;
        }
      }
      .bottom-mob-background {
        margin-bottom: 30px;
        display: none;
        @media(max-width:500px) {
          display: block;
          width: 90%;
          margin: 30px auto;
        }
      }
    }
  }
}

.main-win-bottom-logo {
  width: 100%;
  @media(max-width: 610px) {
    max-width: 90%;
  }
  img {
    @media(max-width: 768px) {
      height: 70%;
    }
  }
}


.hundred-thousand-winner-container {
  .row {
    .container {
      .top-background {
        margin-left: -15%;
      }
      .slot-machine {
        margin-top: -125px;
      }
    }
  }
}

.main_winner_content {
  @include display-flex;
  @include justify-center;
  @include flex-column;
  margin: 0 auto;

  p {
    @media (max-width: 767px) {
      font-size: 12px;
    }
  }
}

.izvlacenje-glavne {
  font-size: 36px;
  font-family: 'Gotham', sans-serif;
  font-weight: 400;

  @media (max-width: 767px) {
    font-size: 26px;
  }
}

.glavna-nagrada {
  font-family: 'Gotham', sans-serif;
  font-weight: bold;
  font-size: 32px;
  padding: 5px 65px;
  max-width: 475px;
  display: block;
  margin: 0 auto;

  @media (max-width: 767px) {
    font-size: 22px;
    padding: 5px 30px;
    max-width: 80%;
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    font-size: 24px;
  }
}