@mixin display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@mixin flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@mixin flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@mixin justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
}

@mixin justify-end {
  -webkit-box-pack: end;
     -ms-flex-pack: end;
   justify-content: flex-end;
}

@mixin space-evenly {
  -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
}

@mixin space-between {
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
   justify-content: space-between;
}

@mixin align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}

@mixin align-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
      align-items: flex-end;
}

@mixin row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
