// Default styles
// Mobile
// .modal {
//   width: 95%;
//   max-height: 80%;
//   @include display-flex;
//   @include justify-end;
//   @include flex-column;
//   display: none;
//   &#modal1 {
//     & .modal-content {
//       background-color: $secondary-color;
//       height: 100%;
//       @include display-flex;
//       @include align-center;
//       @include space-between;
//       & .modal_subtitle {
//         padding: 10px;
//       }
//       & .modal_reward__container {
//         @include display-flex;
//         @include space-between;
//         margin-top: 20px;
//         & .col-lg-2 {
//           flex: 0 0 45%;
//           max-width: 45%;
//         }
//       }
//     }
//   }
//   &#modal2 {
//     & .modal-content {
//       position: relative;
//       border: 0;
//       background-color: #ee252b;
//       border-radius: 0;
//       border: 5px solid #ffffff;
//       height: 100%;
//       & h1,
//       & h2 {
//         &.modal_title {
//           font-size: 18px;
//         }
//       }
//       & .modal_subtitle {
//         font-size: 14px;
//         padding: 5px;
//       }
//       & .modal_body__img {
//         width: 80%;
//         margin: 0 auto;
//       }
//       & .modal_footer__img {
//         position: absolute;
//         bottom: 10px;
//         right: 10px;
//         width: 15%;
//       }
//       & .row {
//         & .col-lg-7 {
//           & span {
//             display: block;
//             font-size: 20px;
//             font-weight: bold;
//           }
//         }
//       }
//     }
//   }
// }

// Mobile landscape and small tablets
// @media (min-width: 576px) {
//   .modal {
//     &#modal1 {
//       max-height: 60%;
//     }
//     &#modal2 {
//       & .modal-content {
//         height: initial;
//         & .top_row {
//           margin-bottom: 10px;
//           & figure {
//             text-align: center;
//           }
//         }
//       }
//     }
//   }
// }

// Tablet
// @media (min-width: 768px) {

// }

// Tablet landscape and small desktops
// @media (min-width: 992px) {
//   .modal {
//     &#modal1 {
//       width: 80%;
//       max-height: 70%;
//       & .modal-content {
//         & h1 {
//           font-size: 60px;
//         }
//         & h2 {
//           font-size: 55px;
//         }
//       }
//     }
//     &#modal2 {
//       max-height: 80%;
//       width: 55%;
//       & .modal-content {
//         height: 100%;
//       }
//     }
//   }
// }


// Desktops

  .modal {
    border-radius: 7px;
    &#modal1 {
      width: 700px;
      height: auto;
      background-size: cover;
      max-width: 100%;
      max-height: initial;
      @media (max-width: 768px) {
        width: 90%;
      }
      @media (max-width: 500px) {
        width: 80%;
      }
      & .modal_footer__img {
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 15%;
      }
      & .modal-content {
        position: relative;
        background-color: transparent !important;
        background-image: url("../img/popup-background.png");
        border: 5px solid #ffffff;
        border-radius: 7px;
        font-family: $blogScriptBold;
        width: 700px;
        height: 500px;
        @media(max-width: 768px) {
          width: 100%;
        }
        & .modal-sub-img {
          flex-direction: row;
          width: 100%;
          margin: 0 auto;
          @media (max-width: 550px) {
          flex-direction: column;
        }
          .modal_subtitle__container {
            width: 50%;
            @media (max-width: 550px) {
              width: 100%;
            }
            .modal_subtitle {
              text-transform: uppercase;
              color: #fff;
              font-size: 22px;
              width: 100%;
              line-height: 1.3;
              h4 {
                font-size: 40px;
                margin-bottom: 0px;
              }
              p {
                padding-bottom: 0px;
                margin-bottom: 0px;
              }
              @media (max-width: 639px) {
                font-size: 17px;
                h4 {
                  font-size: 30px;
                }
              }
            }
          }
          .text-center {
            width: 50%;
            @media (max-width: 550px) {
              margin: 0 auto;
            }
          }
        }
        & .modal_reward__container {
          @include display-flex;
          @include align-end;
        }
        .modal_title {
          font-size: 85px;
          font-weight: bold;
          padding-top: 50px;
          @media (max-width: 639px) {
            font-size: 40px;
          }
          @media (min-width: 640px) and (max-width: 991px) {
            font-size: 50px;
          }
        }

      }
    }
    &#modal2 {
      width: 705px;
      height: auto;
      @media (max-width: 991px) {
        width: 90%;
      }
      & .modal-content {
        position: relative;
        border: 0;
        height: 100%;
        background-color: #ee252b;
        border-radius: 0;
        border: 5px solid #ffffff;
        @media(max-width: 768px) {
          width: 100%;
        }
        @media(max-width: 500px) {
            .modal_title {
              font-size: 30px;
            }
            .modal-sub-img {
              .modal_subtitle__container {
                .modal_subtitle {
                  h4 {
                    font-size: 20px;
                  }
                }
              }
              .text-center {
                width: 100%;
              }
            }
        }
        .modal_title {
          font-size: 85px;
          font-weight: bold;
          @media (max-width: 639px) {
            font-size: 28px;
          }
          @media (min-width: 640px) and (max-width: 991px) {
            font-size: 50px;
          }
        }
        p.small {
          font-size: 30px;
          color: #fff;
          margin-bottom: 0;
          font-weight: bold;
          @media (max-width: 639px) {
            font-size: 20px;
          }
        }
        .modal_title2 {
          font-size: 42px;
          font-weight: bold;
          @media (max-width: 639px) {
            font-size: 21px;
          }
        }
        .modal_subtitle {
          color: #ee252b;
          background-color: #fff;
          padding: 10px 50px;
          width: 100%;
          display: block;
          @media (max-width: 767px) {
            padding: 5px;
            font-size: 13px;
          }
        }
        .glavna {
          font-size: 30px;
          width: fit-content;
          padding-right: 30px;
          background-color: #0090d2;
          padding-left: 10px;

          @media (max-width: 767px) {
            font-size: 22px;
          }
        }
        & figure {
          & img {
            display: block;
            margin: 0 auto;
          }
        }
        & .modal_footer__img {
          position: absolute;
          bottom: 10px;
          right: 10px;
          width: 15%;
        }
      }
    }
  }

.modal-close {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #ffffff;
  display: inline-block;
  & .icon-bar-1,
  & .icon-bar-2 {
    width: 20px;
    height: 4px;
    background-color: #ffffff;
    margin: 5px 0;
  transition: 0.4s;
  }
  & .icon-bar-1 {
    background-color: #ffffff;
    -webkit-transform: rotate(-45deg) translate(2px, 0px);
        -ms-transform: rotate(-45deg) translate(2px, 0px);
            transform: rotate(-45deg) translate(2px, 0px);
  }
  & .icon-bar-2 {
    background-color: #ffffff;
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
        -ms-transform: rotate(45deg) translate(-6px, -8px);
            transform: rotate(45deg) translate(-6px, -8px);
  }
}





// @media (max-width: 1199px) {
  // .modal#modal1 .modal-content,
  // .modal#modal2 .modal-content {
  //   height: 100%;
  // }
  // .modal_reward__container > div{
  //   text-align: center;
  //   margin-bottom: 20px;
  // }
// }

// @media (min-width: 576px) and (max-width: 991px) {
  // .modal#modal2 .modal-content  {
  //   height: auto;
  // }
  // .modal#modal2 .modal-content .modal_footer__img img {
  //   width: 50%;
  // }
// }

// @media (min-width: 992px) and (max-width: 1199px) {
  // .modal#modal2 .modal-content {
  //   height: 100%;
  // }
// }
