#navigation {
  background-color: transparent;

  & button.navbar-toggler {
    margin-left: auto;
    padding: 0;
    cursor: pointer;
    z-index: 4;
    & .bar-1,
    & .bar-2,
    & .bar-3 {
      width: 35px;
      height: 5px;
      background-color:#fff;
      margin: 6px 0;
      transition: 0.4s;
    }
    &.change {
      & .bar-1 {
        background-color: #ffffff;
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
            -ms-transform: rotate(-45deg) translate(-9px, 6px);
                transform: rotate(-45deg) translate(-9px, 6px);
      }
      & .bar-2 {
        opacity: 0;
      }
      & .bar-3 {
                background-color: #ffffff;
                -webkit-transform: rotate(45deg) translate(-8px, -8px);
                -ms-transform: rotate(45deg) translate(-8px, -8px);
                transform: rotate(45deg) translate(-8px, -8px);
                -moz-transform: rotate(45deg) translate(-8px, -8px);
                -o-transform: rotate(45deg) translate(-8px, -8px);
}
    }
    &:focus {
      background-color: transparent;
    }
  }

  #main-navbar {
    display: none;
    ul {
      li {
        margin: 0 25px;
        a {
          text-transform: uppercase;
          font-weight: 700;
          color: #ffffff;
          font-size: 14px;
          font-family: "Gotham", sans-serif;
          font-weight: 700;
        }
      }
    }
  }
}

#mobile-navbar {
  width: 100%;
  background-color: #008edc;
  position: fixed;
  left: -100%;
  height: 100%;
  top: 0;
  transition: left .5s ease-in;
  -webkit-transition: left .5s ease-in;
  -moz-transition: left .5s ease-in;
  -o-transition: left .5s ease-in;
  z-index: 3;
  padding-top: 70px;
  & ul {
    text-align: center;
    padding: 15px;
    & li {
      & a {
        color: #ffffff;
        font-weight: 600;
        font-size: 22px;
        text-transform: uppercase;
      }
      &.active {
        & a {
          color: #fff;
        }
      }
    }
  }

  &.show {
    display: block !important;
    left: 0;
    transition: all .5s ease-in;
    -webkit-transition: left .5s ease-in;
    -moz-transition: left .5s ease-in;
    -o-transition: left .5s ease-in;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 70px;
    & ul {
      & li {
        &.active {
          & a {
            color: #fff;
            position: relative;
            padding-left: 20px;
            display: inline-block;
            padding-right: 20px;
            &::after {
              position: absolute;
              content: "";
              display: inline-block;
              height: 1px;
              background-color: #ffffff;
              bottom: 0;
              left: 0;
              right: 0;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  #navigation {
    background-color: $main-color;
  }
}

@media (min-width: 1200px) {
  #navigation {
    background-color: $main-color;

    & button.navbar-toggler {
      margin-left: auto;
      border: 1px solid #ffffff;
    }

    #main-navbar {
      display: block;
      ul {
        li {
          margin: 0 25px;
          a {
            text-transform: uppercase;
            color: #ffffff;
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1279px) {
  #navigation #main-navbar ul li {
    margin: 0 20px;
  }
}
