.register-bottom-logo {
  display: flex;
  max-width: 90%;
  justify-content: right;
  width: 1300px;
  margin: 0 auto;
  .disclaimer {
    display: none;
    @media(max-width: 767px) {
      display: block;
    }
  }
  img {
    height: 100%;
    width: auto;
  }
}

.register-content {
  position: relative;
  width: 100%;
  margin-bottom: 50px;
  .register-background {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0px;
    .register-background {
      display: block;
    }
    .mobile-background {
      display: none;
    }
  }
  .input-form {
    form.register_form {
      margin-right: 0;
      .input-field {
        margin-top: 0px;
        margin-bottom: 0px;
        label {
          top: 9px;
        }
        .iznos-racuna-forma {
          #bill_ammount1, #bill_ammount2 {
            position: relative;
            &::after {
              position: absolute;
              content: "RSD";
              right: 0;
            }
          }
        }
      }
      .racuni-forma {
        .special-input-borders {
          input#bill_number1, input#bill_number2 {
            //padding-left: 201px;
            //max-width: 210px;
            //max-width: 50%;
            width: 100%;
            z-index: 2;
          }
          &.racun2 {
            margin-top: 16px;
          }
        }
      }
      .form-group {
        margin-bottom: 0.5rem;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .register-container {
    .register-content {
      .register-background {
        margin-left: -30px;
        max-width: 90%;
        img {
          max-width: 85%;
        }
      }
      .input-form {
        margin-right: -30px;
      }
    }
  }
}
@media (max-width: 991px) {
  .register-container {
    .register-content {
      .register-background {
        position: relative;
        margin-top: -60px;
      }
      .input-form {
        form.register_form {
          margin-left: auto !important;
          margin-right: auto !important;
        }
      }
    }
  }
  .submit_btn {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media (max-width: 767px) {
  .register-container {
    max-width: 100%;
    padding: 0px;
    .register-content {
      .register-background {
        margin-left: auto;
        margin-right: auto;
        .desktop-background {
          display: none;
        }
        .mobile-background {
          display: block;
          width: 95%;
          margin-left: auto;
        }
      }
      .input-form {
        form.register_form {
          width: 411px;
          max-width: 80%;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .register-container {
    .register-content {
      .input-form {
        form.register_form {
          .input-field {
            .racuni-forma {
              .special-input-borders {
                &::after {
                 display: none;
                }
                input#bill_number1, input#bill_number2 {
                  letter-spacing: normal;
                }
              }
            }
          }
        }
      }
    }
  }
}




.register_headline {
  & h1 {
    font-size: 22px;
    text-align: center;
  }
  & h3 {
    font-size: 20px;
    text-align: center;
  }
  & figure,
  & .subimage_content {
    text-align: center;
  }
}

.register_form {
  width: 400px;
  margin: 0 auto;

  @media (max-width: 767px) {
    width: 100%;
  }

  & .question-mark {
    border: 0;
    padding: 0;
    background: transparent;
    position: absolute;
    top: 50%;
    -webkit-transform: translate3d(0,-50%,0);
            transform: translate3d(0,-50%,0);
    right: 0;
    width: 30px;
    height: 30px;
    color: #fff;
    //& i {
    //  color: #ffffff;
    //  font-size: 20px;
    //}
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../img/arrow.png);
    background-position: right 10px center;
    background-repeat: no-repeat;

    @media (max-width: 767px) {
      font-size: 14px;
      padding-left: 0;
    }
  }
}

.register_headline {
  img {
    margin: 0 auto;
    display: table;

    @media (max-width: 767px) {
      display: none;
    }
  }
}

.disclaimer {
  width: 100%;
  text-align: left;
  font-size: 12px;
}

.input_placeholder {
  color: #ffffff;
}
.input-field {
  & .input_placeholder {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
}
.form-control {
  border-radius: 0px;
  border: none;
}
.form-group {
  label {
    margin-bottom: 5px;
  }
}
.date-selects {
  display: flex;

  .form-control {
    border-radius: 0px;
    border: none;
    &:nth-of-type(2) {
      margin: 0 3px;
    }
  }
}

input#phone {
  position: relative;

  &::after {
    // display: block;
    content: "+381";
    color: #ffffff;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate3d(0,-50%,0);
  }
}

.register_form {
  input {
    border-bottom: 1px solid #fff !important;
  }

  .input-field.posalji {
    border: none !important;
    display: none;
  }

  button#broj_racuna {
    right: 50%;
  }

  #iznos_racuna1 {
    right: 50%;
  }
}

span.error-message {
  position: absolute;
  bottom: -20px;
  left: 0;
}

span.error-year {
  left: calc(100% / 3 * 2);
}

span.error-day {
  left: calc(100% / 3);
}

.posalji2 {
  margin: 40px auto 0 auto;
}

.racuni-forma {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  input#bill_number1 {
    margin-right: 8px;
    position: relative;
    &::after {
      content: "RSD";
      position: absolute;
      transform: translateY(-50%);
      right: 0;
      color: #fff;
    }
  }

  input#bill_number2 {
    position: relative;
    &::after {
      content: "RSD";
      position: absolute;
      transform: translateY(-50%);
      right: 0;
      color: #fff;
    }
  }

  label {
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    cursor: text;
    transition: transform .2s ease-out, color .2s ease-out;
    transform-origin: 0% 100%;
    text-align: initial;
    transform: translateY(12px);
    padding-left: 15px;

    &:nth-of-type(2) {
      left: 50%;
    }

    &.active {
      transform: translateY(-14px) scale(0.8);
      transform-origin: 0 0;
    }
  }

}

.iznos-racuna-forma {
  display: flex;
  justify-content: space-between;

  input#bill_ammount1 {
    margin-right: 8px;
  }

  label {
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    cursor: text;
    transition: transform .2s ease-out, color .2s ease-out;
    transform-origin: 0% 100%;
    text-align: initial;
    transform: translateY(12px);
    padding-left: 15px;

    &:nth-of-type(2) {
      left: 50%;
    }

    &.active {
      transform: translateY(-14px) scale(0.8);
      transform-origin: 0 0;
    }
  }

}

.iznos-racuna1 {
  width: 50%;
  margin-right: 4px;
}

.iznos-racuna2 {
  width: 50%;
  margin-left: 4px;

  label {
    left: 50%;
  }
}


// .input-field {
//   position: relative;
//   & input[type=text]:not(.browser-default) + span.input_placeholder {
//     display: none;
//   }

//   & input[type=text]:not(.browser-default):focus:not([readonly])  + span.input_placeholder{
//     position: absolute;
//     left: 0;
//     bottom: 25px;
//     display: inline-block;
//     width: 50px;
//     color: #ffffff;
//     line-height: 100%;
//     font-size: 16px;
//     transition: display 0.4s;
//   }
// }

@media (min-width: 992px) {
  .register_headline {
    & h1 {
      font-size: 120px;
    }
    & h3 {
      font-size: 24px;
    }
  }
}

@media(min-width: 1200px) {
  .register_headline {
    display: flex!important;
    @include flex-column;


    & h1 {
      font-size: 140px;
      text-align: center;
      margin-bottom: 0;
      font-weight: 700;
    }
    & h3 {
      font-size: 51px;
      text-align: center;
      margin-bottom: 0;
      font-weight: 700;
    }
  }
  .subimage_content {
    span {
      font-size: 22px;
      display: block;
      margin: 0 auto;
      width: 60%;
    }
  }

  .disclaimer {
    width: 100%;
    text-align: center;
    font-size: 12px;
  }
}

.input-field {
  & input {
    color: #ffffff;
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
}

// .input-field-bill-amount {
//   position: relative;
//   &::after {
//     content: "RSD";
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//     right: 0;
//     color: #fff;
//   }
// }

.racun1 {
  width: 100%;
  margin-right: 4px;
}

.racun2 {
  width: 100%;
  margin-left: 4px;
  position: relative;

  label {
    left: 0;
    margin-left: -5px;
  }
}

.shopping_select, .shopping_select2 {
  position: relative;
  & label {
    text-align: left;
    color: #ffffff;
    padding-left: 15px;
    font-size: 16px;
  }
}

.shopping_select2 {
  display: none;
}


//#bill_ammount2,
//#bill_number2,
.racun2 {
  display: none;
}

.posalji {
  button {
    min-width: 400px;
    margin-right: 0;

    @media (max-width: 639px) {
      min-width: 200px;
    }
  }
}

.racuni {
  display: flex;
  justify-content: space-between;
  .input-field {
    width: 45%;
  }
}