.pravila-container {
  width: 70%;
  padding-top: 30px;
  .pravila-title {
    text-transform: uppercase;
    color: #fff;
    font-family: $blogScriptBold;
    font-size: 56px;
    padding-right: 20px;
  }
}
.pravila-right {
  width: 30%;
}
.pravila-fixed-logo {
  position: fixed;
  right: 15%;
  bottom: 10%;
}
@media(max-width:1200px) {
  .main-pravila-container {
    max-width: 95%;
  }
}

@media(max-width: 991px) {
  .pravila-container {
    width: 100%;
    max-width: 100%;
  }
  .pravila-right {
    display: none;
  }
  .pravila-fixed-logo {
    display: none;
  }
}

.rules_head__content {
  font-size: 12px;
  margin-bottom: 10px;
  width: 100% !important;
}

.rules_head__title {
  padding: 0px 10px;
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 10px;
}
.rules_title {
  font-size: 30px;
  font-weight: bold;
}
.rules_list {
  font-size: 14px;
}

@media (min-width: 1200px) {
  .rules_head__content {
    font-size: 16px;
    width: 85%;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
  }
  .rules_head__title {
    padding: 0px 10px;
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 20px;
  }
}

.table .thead-dark th {
  font-size: 14px;
  vertical-align: middle;
}
.rules_head__title {
  background-color: #fff;
  color: $main-color;
}

h2.rules_title {
  font-size: 60px;
  font-weight: bold;
  @media (max-width: 639px) {
    font-size: 30px;
  }
  @media (min-width: 640px) and (max-width: 991px) {
    font-size: 42px;
  }
}