$main-color: #0090d2;
$secondary-color: #f1a11d;
$color-red: #ee252a;
$color-green: #b1c645;

$blogScriptRegular: 'blogscriptregular';
$blogScriptBold: 'blogscriptbold';

.bg_orange {
  background-color: $main-color;
}
.bg_blue__light {
  background-color: $secondary-color;
}
