
.winners-container {
  display: flex;
  flex-direction: row;
  position: relative;
  .footer-icon {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    img {
      width: 100%;
    }
  }
  .winners-background-left {
    background-image: url("../img/winners-left-background.png");
    background-size: contain;
    height: 100%;
    width: 300px;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 35px;
    .winners-mob-cover {
      display: none;
    }
  }
  .winners-list-container {
    width: 450px;
    margin: 0 auto;
    z-index: 1;
    padding-top: 50px;
  }
  .winners-background-right {
    background-image: url("../img/winnersRightBackground.png");
    background-size: contain;
    height: 100%;
    width: 500px;
    background-repeat: no-repeat;
    position: absolute;
    right: -100px;
    top: 0;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .winners-container {
    .winners-background-left {
      img {
        //margin-left: calc((100vw - 512px)/2) !important;
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .winners-container {
    margin-top: -58px;
    .winners-list-container {
      margin-top: 400px !important;
    }
  }
}
@media (max-width: 768px) {
  .winners-container {
    flex-direction: column;
    position: inherit;
    .winners-background-left {
      margin-top: -58px;
      position: initial;
      width: 100%;
      height: auto;
      background: none;
      padding-left: 20px;
      .winners-mob-cover {
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto;
      }
    }
    .winners-list-container {
      z-index: 0;
      max-width: 85%;
    }
    .winners-background-right {
      display: none;
    }
  }
}

@media  screen and (min-width: 992px) and (max-width: 1199px) {
  .winners-container {
    .winners-background-left {
      width: 230px;
    }
    .winners-list-container {
    }
    .winners-background-right {
      width: 390px;
      right: -100px;
    }
  }
}

.search_container {
    overflow: hidden;
    @media (max-width: 767px) {
      margin: 15px auto 30px auto;
      display: block;
    }
    h1 {
      font-weight: normal;
      text-align: right;
      @media (max-width: 767px) {
        font-size: 24px;
        text-align: center;
        text-align: center;
      }
      
      @media (min-width: 768px) and (max-width: 1199px) {
        font-size: 26px;
      }
    }
}

div.dataTables_wrapper div.dataTables_filter input {
  padding: 0 10px;
  height: 40px;
}

div.dataTables_wrapper div.dataTables_filter {
  margin-left: -20px;

  @media (max-width: 767px) {
    margin-left: 0;
  }

  label {
    overflow-x: hidden;
  }
}

#winners_wrapper {
  @media (min-width: 768px) and (max-width: 991px) {
    margin-bottom: 40px;
  }
  @media (min-width: 992px) {
    margin-bottom: 30px;
  }
}

input.form-control.form-control-sm {
  background-color: #fff;
  width: 450px !important;
  padding: 0 10px;
  height: 40px;
  border: none;
  background-image: url(../img/lupa.png);
  background-repeat: no-repeat;
  background-position: right 30px center;
  @media (max-width: 767px) {
    font-size: 12px;
    height: 34px;
    margin-bottom: 0;
    width: 100% !important;
  }
}

input[type=search]:not(.browser-default):focus:not([readonly]) {
  border: none;
  box-shadow: none;
}

#pills-tab {
    display: -ms-grid;
        display: grid;
    -ms-grid-columns: 1fr 5px 1fr 5px 1fr;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 5px;
            column-gap: 5px;
    margin-bottom: 0px;
    @media (max-width: 767px) {
      display: flex;
      margin-bottom: 0;
    }
    li {
        @media (max-width: 767px) {
          margin: 0 auto;
          &:first-of-type {
            order: 2;
          }

          &:nth-of-type(2) {
            order: 1;
            margin-bottom: 5px;
          }
        }
        a {
            color: #ffffff;
            text-transform: uppercase;
            text-align: center;
            border: 0;
            border-radius: 0;
            font-weight: 700;
            white-space: nowrap;
            @media (max-width: 767px) {
              padding: 5px 50px;
            }
        }
    }
}

@media (max-width: 767px) {
  .winners-heading {
    font-size: 14px !important;
    text-align: left;
    padding-left: 10px;
  }

  .winners-list-heading {
    margin-bottom: 20px;
  }

  .mozes-osvojiti {
    display: none;
  }

  #spin-button {
    width: 80%;
  }
}

.table {
    color: #ffffff;
    th {
        border-top: 0;
    }
    td {
        text-align: center;

        @media (max-width: 767px) {
          font-size: 12px;
        }
    }
    thead {
        color: $secondary-color;
        background-color: #ffffff;
        th {
            border-bottom: 0;
            text-align: center;
            text-transform: uppercase;
        }
    }
    tbody {
        tr {
            border-bottom: 1px solid #ffffff;
        }
    }
}

table.dataTable {
    border-collapse: collapse !important;
}

div.dataTables_wrapper {
    div.dataTables_paginate {
        ul.pagination {
            @include justify-center;
            @media (max-width: 640px) {
              margin-bottom: 15px;
            }
            li {
                background-color: transparent;
                border-radius: 0;
                border: 0;
                a {
                    background-color: transparent;
                    color: #ffffff;
                    border: 0;
                    border-radius: 0;
                    font-weight: 600;
                    @media (max-width: 767px) {
                      font-size: 20px;
                      font-weight: bold;
                    }
                }
                &.active {
                    position: relative;
                    &::after {
                        content: '';
                        display: block;
                        height: 1px;
                        background-color: #ffffff;
                        width: 70%;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

table#winners {
  th {
    color: #585858;
    @media (max-width: 767px) {
      color: #0099cc;
      font-size: 12px;
      display: table-cell;
      vertical-align: middle;

      &::before,
      &::after {
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
      }
    }
  }
}

@media (min-width: 1200px) {
  table#winners.dataTable,
  table#winners2.dataTable,
  table#winners3.dataTable {
    & thead {
      & tr {
        & th {
          width: calc(100% / 3) !important;
        }
      }
    }
  }
}

//Glavna nagrada

.slot-line-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 180px;
  height: 245px;
}

.six-slot-machine {
  justify-content: space-around;

  .slot-line-container {
    @media (max-width: 767px) {
      height: 155px;
      width: calc(100% / 6);
    }
  }

  .slot-image {
    @media (max-width: 991px) {
      width: auto;
    }

    @media (min-width: 992px) {
      width: auto;
    }
  }
}
