.slot-machine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px 0;
}

.slot-line-container {
  /*width: 200px;*/
  /*height: 195px;*/
    width: 16%;
    height: 258px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 10px;
  background-image: url(../img/bg_sara.png);
  -webkit-box-shadow: inset 0px 10px 50px 10px rgba(0,0,0,0.6);
  -moz-box-shadow: inset 0px 10px 50px 10px rgba(0,0,0,0.6);
  box-shadow: inset 0px 10px 50px 10px rgba(0,0,0,0.6);
  /* background-image: url("../img/bg_sara.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
}

.paragraph-row {
  font-size: 40px;
}

.textino-whitino {
  font-size: 22px;
}

.slot-row {
  margin-top: 50px;
}

.slot-line {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0 30px;
  position: absolute;
}

.slot-image {
  display: block;
  position: absolute;
  left: 0;
  height: auto;
  width: 100%;
}

@media (max-width: 991px) {
  .paragraph-row {
    font-size: 22px;
  }
  .textino-whitino {
    font-size: 18px;
  }
}

.slot-image-rotate {
  left: 50% !important;
  transform: translateX(-50%);
}

@media (min-width: 992px) {
  .slot-machine {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px 0;
  }

  .slot-line-container {
    width: 200px;
    height: 258px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    border: 1px solid #000000;
    border-radius: 10px;
    -webkit-box-shadow: inset 0px 10px 50px 10px rgba(0,0,0,0.6);
    -moz-box-shadow: inset 0px 10px 50px 10px rgba(0,0,0,0.6);
    box-shadow: inset 0px 10px 50px 10px rgba(0,0,0,0.6);
    /* background-image: url("../img/bg_sara.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
  }

  .slot-line {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0 30px;
    position: absolute;
  }

  .slot-image {
    display: block;
    position: absolute;
    left: 0;
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slot-line-container {
    height: 235px;
  }
}

@media (min-width: 1200px) {
  .slot-machine {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px 0;
  }

  .slot-row #spin-button {
    width: 400px;
    max-width: 100;%
  }

  .slot-line-container {
    width: 200px;
    height: 258px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    border: 1px solid #000000;
    border-radius: 10px;
    -webkit-box-shadow: inset 0px 10px 50px 10px rgba(0,0,0,0.6);
    -moz-box-shadow: inset 0px 10px 50px 10px rgba(0,0,0,0.6);
    box-shadow: inset 0px 10px 50px 10px rgba(0,0,0,0.6);
    /* background-image: url("../img/bg_sara.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
  }

  .three-slot-machine.slot-line-container:nth-of-type(2) {
    margin-right: 20px;
    margin-left: 20px;
  }

  .six-slot-machine {
     justify-content: space-between;
  }

  .six_submit_btn {
     min-width: 475px;
  }

  .slot-line {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0 30px;
    position: absolute;
  }

  .slot-image {
    display: block;
    position: absolute;
    left: 14px;
    height: initial;
    width: initial;
  }
}

@media (min-width: 992px) and (max-width: 1279px) {
    .six-slot-machine .slot-line-container {
        width: 135px;
    }
}
