@font-face {
  font-family: 'Gotham';
  src: url("../fonts/asd/GothamBH-Book.woff2");
  src: url("../fonts/asd/GothamBH-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Gotham';
  src: url("../fonts/asd/GothamBH-Bold.woff2");
  src: url("../fonts/asd/GothamBH-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Gotham';
  src: url("../fonts/asd/GothamBH-Medium.woff2");
  src: url("../fonts/asd/GothamBH-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'blogscriptregular';
  src: url("../fonts/blogScript/blogscript-regular2-webfont.woff2") format("woff2"), url("../fonts/blogScript/blogscript-regular2-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'blogscriptbold';
  src: url("../fonts/blogScript/blogscript-webfont.woff2") format("woff2"), url("../fonts/blogScript/blogscript-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.bg_orange {
  background-color: #0090d2; }

.bg_blue__light {
  background-color: #f1a11d; }

* {
  outline: none; }

html, body {
  font-family: 'Gotham', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html {
  height: 100%;
  scroll-behavior: smooth; }

img {
  max-width: 100%; }

body {
  min-height: 100%;
  max-width: 100vw;
  position: relative;
  overflow-x: hidden; }
  body::after {
    content: '';
    display: block;
    height: 120px; }
    @media (max-width: 768px) {
      body::after {
        height: 30px; } }

#bodyCover {
  position: fixed;
  z-index: -1;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  top: 0px;
  left: 0px;
  background-image: url("../img/CoverBackground.png");
  background-size: cover;
  background-repeat: no-repeat; }

@media (max-width: 767px) {
  .desktop {
    display: none; } }

@media (max-width: 767px) {
  .only-desktop {
    display: none; } }

@media (min-width: 768px) {
  .mobile {
    display: none; } }

@media (max-width: 767px) {
  .slot-row {
    margin-top: 0; }

  .slot-machine {
    padding: 15px 0; } }
.three-slot-machine .slot-line-container:nth-of-type(2) {
  margin-left: 15px;
  margin-right: 15px; }
  @media (max-width: 640px) {
    .three-slot-machine .slot-line-container:nth-of-type(2) {
      margin-left: 10px;
      margin-right: 10px; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .slot-machine.six-slot-machine .slot-line-container {
    width: calc(100% / 6 - 10px);
    margin-left: 5px;
    margin-right: 5px; } }

.dashboard_reward__controls {
  margin: 0 auto 20px auto; }
  @media (max-width: 767px) {
    .dashboard_reward__controls {
      max-width: 100%;
      margin: 0 auto; } }
  @media (max-width: 767px) {
    .dashboard_reward__controls form {
      min-width: 100%;
      max-width: 100% !important;
      margin-bottom: 20px !important;
      display: block; } }

.mail-wrapper {
  padding: 10px 20px;
  display: flex; }
  .mail-wrapper .left {
    width: 20%; }
  .mail-wrapper .right {
    width: 80%; }
    .mail-wrapper .right h1, .mail-wrapper .right h2 {
      font-size: 60px;
      color: #fff;
      font-weight: bold; }

.error-parent {
  text-align: center;
  margin: 0 auto;
  margin-top: 100px; }
  .error-parent h1 {
    font-weight: bold;
    font-size: 65px;
    color: #fff; }
  .error-parent img {
    margin-top: 50px;
    margin-bottom: 50px; }
  .error-parent p {
    font-weight: 300;
    color: #fff;
    font-size: 25px; }

.footer_container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px; }
  @media (max-width: 640px) {
    .footer_container {
      padding-top: 15px; } }

.font-large {
  font-size: 55px;
  font-weight: normal; }

.px-15 {
  padding: 0 15px; }

.bg_red {
  background-color: #ee252a !important; }

.bg_green {
  background-color: #b1c645 !important; }

.mx-mobile-none {
  margin-left: 0;
  margin-right: 0; }

.error_container {
  text-align: center;
  color: #000000;
  font-size: 20px; }

.error-message {
  font-size: 14px;
  color: #453838; }

@media (min-width: 576px) {
  .mx-mobile-none {
    margin-left: -15px;
    margin-right: -15px; } }
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-internal-autofill-previewed,
input:-internal-autofill-selected {
  background-color: rgba(255, 255, 255, 0) !important;
  background-image: none !important;
  background: none !important; }

.paragraph-row {
  font-size: 37px; }
  @media (max-width: 767px) {
    .paragraph-row {
      font-size: 24px; } }

.textino-whitino {
  font-size: 18px; }
  @media (max-width: 767px) {
    .textino-whitino {
      font-size: 16px; } }

.slot-row {
  margin-top: 0px;
  position: relative; }

table.table thead tr {
  border: 1px solid #fff; }
  table.table thead tr th {
    font-size: 13px;
    color: #0090d2 !important; }
table.table tbody tr {
  background: #fca735; }
  table.table tbody tr td {
    font-size: 14px;
    padding: 10px; }
    table.table tbody tr td:first-child {
      border-left: 1px solid #fff; }
    table.table tbody tr td:last-child {
      border-right: 1px solid #fff; }
    @media (max-width: 400px) {
      table.table tbody tr td {
        font-size: 12px;
        padding: 3px; } }

#navigation {
  background-color: transparent; }
  #navigation button.navbar-toggler {
    margin-left: auto;
    padding: 0;
    cursor: pointer;
    z-index: 4; }
    #navigation button.navbar-toggler .bar-1, #navigation button.navbar-toggler .bar-2, #navigation button.navbar-toggler .bar-3 {
      width: 35px;
      height: 5px;
      background-color: #fff;
      margin: 6px 0;
      transition: 0.4s; }
    #navigation button.navbar-toggler.change .bar-1 {
      background-color: #ffffff;
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      -ms-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-9px, 6px); }
    #navigation button.navbar-toggler.change .bar-2 {
      opacity: 0; }
    #navigation button.navbar-toggler.change .bar-3 {
      background-color: #ffffff;
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      -ms-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-8px, -8px);
      -moz-transform: rotate(45deg) translate(-8px, -8px);
      -o-transform: rotate(45deg) translate(-8px, -8px); }
    #navigation button.navbar-toggler:focus {
      background-color: transparent; }
  #navigation #main-navbar {
    display: none; }
    #navigation #main-navbar ul li {
      margin: 0 25px; }
      #navigation #main-navbar ul li a {
        text-transform: uppercase;
        font-weight: 700;
        color: #ffffff;
        font-size: 14px;
        font-family: "Gotham", sans-serif;
        font-weight: 700; }

#mobile-navbar {
  width: 100%;
  background-color: #008edc;
  position: fixed;
  left: -100%;
  height: 100%;
  top: 0;
  transition: left .5s ease-in;
  -webkit-transition: left .5s ease-in;
  -moz-transition: left .5s ease-in;
  -o-transition: left .5s ease-in;
  z-index: 3;
  padding-top: 70px; }
  #mobile-navbar ul {
    text-align: center;
    padding: 15px; }
    #mobile-navbar ul li a {
      color: #ffffff;
      font-weight: 600;
      font-size: 22px;
      text-transform: uppercase; }
    #mobile-navbar ul li.active a {
      color: #fff; }
  #mobile-navbar.show {
    display: block !important;
    left: 0;
    transition: all .5s ease-in;
    -webkit-transition: left .5s ease-in;
    -moz-transition: left .5s ease-in;
    -o-transition: left .5s ease-in;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 70px; }
    #mobile-navbar.show ul li.active a {
      color: #fff;
      position: relative;
      padding-left: 20px;
      display: inline-block;
      padding-right: 20px; }
      #mobile-navbar.show ul li.active a::after {
        position: absolute;
        content: "";
        display: inline-block;
        height: 1px;
        background-color: #ffffff;
        bottom: 0;
        left: 0;
        right: 0; }

@media (min-width: 992px) {
  #navigation {
    background-color: #0090d2; } }
@media (min-width: 1200px) {
  #navigation {
    background-color: #0090d2; }
    #navigation button.navbar-toggler {
      margin-left: auto;
      border: 1px solid #ffffff; }
    #navigation #main-navbar {
      display: block; }
      #navigation #main-navbar ul li {
        margin: 0 25px; }
        #navigation #main-navbar ul li a {
          text-transform: uppercase;
          color: #ffffff;
          font-size: 14px; } }
@media (min-width: 992px) and (max-width: 1279px) {
  #navigation #main-navbar ul li {
    margin: 0 20px; } }
.login_title {
  margin-top: 25px;
  margin-bottom: 25px; }
  .login_title span {
    padding: 10px;
    font-size: 24px;
    font-weight: 700; }

.login_form label {
  color: #ffffff; }
.login_form input {
  color: #ffffff; }
  .login_form input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #ffffff; }
  .login_form input::-moz-placeholder {
    /* Firefox 19+ */
    color: #ffffff;
    opacity: 1; }
  .login_form input:-ms-input-placeholder {
    /* IE 10+ */
    color: #ffffff; }
  .login_form input:-moz-placeholder {
    /* Firefox 18- */
    color: #ffffff;
    opacity: 1; }

.dashboard-container {
  width: 90%;
  margin: 0 auto; }

.dashboard_head__container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 25px; }
  .dashboard_head__container .dashboard_title {
    font-size: 20px;
    font-weight: 700; }
  .dashboard_head__container .dashboard_controls form input[type="submit"] {
    font-size: 16px; }

.dashboard_reward__controls.row {
  position: relative; }

.dataTables_filter label {
  color: #ffffff;
  width: 100%; }
  @media (max-width: 640px) {
    .dataTables_filter label {
      font-size: 15px; } }
  .dataTables_filter label input {
    color: #ffffff; }
    @media (max-width: 767px) {
      .dataTables_filter label input {
        display: block !important;
        width: 100% !important;
        margin-left: 0 !important; } }

#dashboard-pills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5px;
  -ms-grid-rows: 1fr 5px 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 10px; }
  #dashboard-pills li a {
    height: 100%;
    color: #ffffff;
    text-align: center; }

.dashboard_reward__controls {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 25px; }
  .dashboard_reward__controls form {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex: 0 0 50%;
    max-width: 50%; }
    .dashboard_reward__controls form input {
      width: 100%;
      outline: none;
      border: 0;
      padding: 5px 10px;
      border-radius: 10px; }

#winners2_wrapper {
  overflow-x: scroll; }

@media (min-width: 992px) {
  .dashboard_head__container {
    margin-top: 25px; }
    .dashboard_head__container .dashboard_title {
      padding: 0 10px; }

  .dataTables_filter label {
    display: flex;
    justify-content: flex-end;
    align-items: center; }

  .dashboard_reward__controls {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 25px; }
    .dashboard_reward__controls form {
      display: -webkit-box;
      display: -moz-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      flex: 0 0 33%;
      max-width: 33%; }
      .dashboard_reward__controls form input {
        width: 100%;
        outline: none;
        border: 0;
        padding: 5px 10px;
        border-radius: 10px; } }
@media (min-width: 1200px) {
  #dashboard-pills {
    -ms-grid-columns: 1fr 5px 1fr 5px 1fr 5px 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr; } }
@media (min-width: 1440px) {
  #winners2_wrapper {
    overflow-x: initial; } }
@media (max-width: 600px) {
  .container {
    padding-left: 0px;
    padding-right: 0px; }

  .mehanizam {
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 25px;
    border-top: 2px solid #ee252a;
    margin-top: 25px; } }
.headline {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  @media (max-width: 767px) {
    .headline {
      -ms-flex-pack: distribute;
      justify-content: space-around; } }
  .headline figure {
    margin-bottom: 0;
    width: 25%; }
  .headline .headline_title {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .headline .headline_title h1 {
      margin-bottom: 0;
      font-size: 30px;
      font-family: "Gotham", sans-serif;
      font-weight: 400; }
      @media (max-width: 767px) {
        .headline .headline_title h1 {
          font-size: 16px; } }
    .headline .headline_title h2 {
      margin-bottom: 0;
      font-size: 24px;
      font-weight: bold; }
      @media (max-width: 767px) {
        .headline .headline_title h2 {
          font-size: 18px; } }

.homepage_title {
  font-size: 18px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: normal; }

.homepage_register__form {
  position: relative; }
  .homepage_register__form .home-footer-background {
    position: absolute;
    right: 0; }
  .homepage_register__form .submit_btn {
    width: 100%; }
  @media (max-width: 991px) {
    .homepage_register__form {
      height: 100px;
      background-position: right;
      background-size: auto; }
      .homepage_register__form .home-footer-background {
        bottom: 0; }
      .homepage_register__form .form-group input.submit_btn {
        width: 60%; } }

.rewards_info {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media (min-width: 768px) and (max-width: 991px) {
    .rewards_info > * {
      margin-bottom: 20px; } }
  .rewards_info h3 {
    text-align: center;
    font-size: 20px;
    margin: 10px 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-weight: bold;
    font-family: "Gotham", sans-serif;
    font-weight: 700; }
    @media (max-width: 639px) {
      .rewards_info h3 {
        font-size: 18px; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      .rewards_info h3 {
        padding-right: 45px; } }
  .rewards_info p {
    text-align: center;
    font-size: 12px;
    margin-bottom: 0; }

.short {
  width: 60%; }

.glavna {
  font-size: 26px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  font-family: "Gotham", sans-serif;
  font-weight: 700;
  padding-right: 100px;
  display: table; }
  @media (max-width: 639px) {
    .glavna {
      padding-right: 35px; } }

.kartice img {
  width: 90%; }
  @media (max-width: 639px) {
    .kartice img {
      width: auto; } }

@media (min-width: 768px) {
  .headline {
    margin-top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

  .homepage_register__form .submit_btn {
    width: 35%; }

  .rewards_info div.text-center {
    font-size: 26px; }
  .rewards_info p {
    font-size: 16px;
    text-align: left; }
  .rewards_info h3 {
    font-size: 20px; } }
@media (min-width: 1200px) {
  .headline {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    margin: 0 auto;
    padding-top: 30px;
    margin-bottom: 15px; }
    .headline figure {
      margin: 0; }
    .headline .headline_title h1 {
      font-size: 30px;
      margin: 0;
      text-align: center;
      width: 100%; }
    .headline .headline_title h2 {
      font-size: 48px;
      font-weight: 700;
      margin: 0;
      text-align: center;
      width: 100%; }

  .homepage_title {
    font-size: 30px;
    font-weight: normal;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px; } }
  @media (min-width: 1200px) and (max-width: 639px) {
    .homepage_title {
      margin-top: 20px; } }

@media (min-width: 1200px) {
  .daily_rewards_list {
    display: block;
    list-style: none;
    padding-left: 0;
    margin: 0; }
    .daily_rewards_list li {
      font-weight: bold; }

  .homepage_daily_rewards__container {
    position: relative; }
    .homepage_daily_rewards__container .homepage_daily_rewards__item {
      position: absolute;
      width: 80%;
      margin: 0; }
      .homepage_daily_rewards__container .homepage_daily_rewards__item:nth-child(1) {
        top: 0;
        left: 15%;
        -webkit-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        transform: rotate(15deg);
        z-index: 1; }
      .homepage_daily_rewards__container .homepage_daily_rewards__item:nth-child(2) {
        top: 38%;
        left: -25%;
        -webkit-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
        transform: rotate(20deg);
        z-index: 2; }
      .homepage_daily_rewards__container .homepage_daily_rewards__item:nth-child(3) {
        top: 85%;
        left: 15%;
        -webkit-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        transform: rotate(-15deg);
        z-index: 3; } }
.submit_btn {
  background-color: #ee252a;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  padding: 5px 10px; }

.accept_terms {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #ffffff;
  position: relative; }
  .accept_terms label {
    margin: 0;
    color: #ffffff;
    width: initial; }
  .accept_terms input {
    margin-right: 5px; }
  .accept_terms .error-message {
    position: absolute !important;
    padding-left: 0 !important;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 14px !important; }
    .accept_terms .error-message::before, .accept_terms .error-message::after {
      display: none; }
    @media (max-width: 991px) {
      .accept_terms .error-message {
        position: relative;
        bottom: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        margin: 0 auto;
        display: block;
        text-align: center; } }

.accept_info_game {
  text-align: center;
  margin: 0 auto;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
  -ms-flex-direction: initial;
  flex-direction: initial; }
  @media (max-width: 767px) {
    .accept_info_game {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .accept_info_game input {
        -ms-flex-item-align: start;
        align-self: flex-start; } }
  .accept_info_game label {
    color: #fff; }
  .accept_info_game a {
    color: #fff;
    text-decoration: underline; }

.mobile .headline .headline_title h1 {
  font-size: 24px; }
.mobile .homepage_register__form .submit_btn {
  width: 90%; }
.mobile .homepage_title {
  font-size: 15px;
  margin: 22px 0; }
.mobile .glavna {
  font-size: 22px;
  padding: 2px 30px;
  margin: 0 auto;
  margin-bottom: 0px;
  display: table;
  text-align: center;
  margin-bottom: 10px !important;
  min-width: 300px; }
.mobile .desetodnevno {
  font-size: 12px; }
.mobile .instant {
  font-size: 18px; }
.mobile .daily_rewards_list {
  font-size: 14px; }
.mobile .vaucer {
  font-size: 14px; }
.mobile .instant-nagrada2 {
  font-size: 30px;
  margin-bottom: 0; }
@media (max-width: 768px) {
  .mobile .mob-home-back {
    width: calc(100% + 15px);
    margin-top: -57px; } }

.rewards_info-img img {
  display: table;
  margin-left: auto; }
  @media (min-width: 768px) and (max-width: 991px) {
    .rewards_info-img img {
      margin: auto; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .glavna {
    margin-bottom: 10px !important; }

  .rewards_info p {
    margin-bottom: 10px !important;
    font-size: 14px; }

  .short {
    width: 80%; }

  .daily_rewards_list li {
    font-size: 14px; } }
#modal-accept {
  background-color: #0090d2;
  width: auto;
  height: auto;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  right: auto; }
  @media (max-width: 639px) {
    #modal-accept {
      width: 80%; } }
  #modal-accept h2 {
    font-size: 20px; }
  #modal-accept .modal-content {
    background-color: #0090d2;
    padding: 50px; }
    @media (max-width: 639px) {
      #modal-accept .modal-content {
        padding: 20px; } }

.game-rules {
  padding-top: 40px; }

.go-to-prijava {
  background-color: #ee252a;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  padding: 5px 10px;
  width: 35%;
  padding: 0;
  text-align: center; }
  .go-to-prijava:hover {
    text-decoration: none;
    color: #fff; }
  @media (max-width: 767px) {
    .go-to-prijava {
      min-width: 300px; } }

div.mehanizam {
  height: auto;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  div.mehanizam .mehanizam-left .mehanizam-inner-left {
    background-image: url("../img/111.000rsd.png");
    height: auto;
    width: 120px; }
  div.mehanizam .mehanizam-right .mehanizam-inner-left {
    background-image: url("../img/3000-6000rsd.png");
    height: auto;
    width: 300px; }
  div.mehanizam .mehanizam-left, div.mehanizam .mehanizam-right {
    height: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0px; }
    div.mehanizam .mehanizam-left .mehanizam-inner-left, div.mehanizam .mehanizam-right .mehanizam-inner-left {
      background-size: contain;
      background-repeat: no-repeat; }
    div.mehanizam .mehanizam-left .mehanizam-inner-right, div.mehanizam .mehanizam-right .mehanizam-inner-right {
      padding: 14px 3px;
      line-height: 15px; }
      div.mehanizam .mehanizam-left .mehanizam-inner-right h5, div.mehanizam .mehanizam-right .mehanizam-inner-right h5 {
        color: #ee252a;
        font-family: "blogscriptbold";
        text-transform: uppercase;
        margin-bottom: 0px; }
      div.mehanizam .mehanizam-left .mehanizam-inner-right p, div.mehanizam .mehanizam-right .mehanizam-inner-right p {
        font-family: 'Gotham', sans-serif;
        color: #fff;
        font-size: 13px;
        margin-bottom: 0px; }
  @media (max-width: 768px) {
    div.mehanizam {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      div.mehanizam .mehanizam-inner-left {
        background-position: center; } }

div.main-row {
  border-bottom: 3px solid #ee252a;
  padding-bottom: 25px;
  margin-bottom: 25px; }
  @media (min-width: 768px) and (max-width: 991px) {
    div.main-row img {
      width: calc(100% + 15px);
      margin-top: -57px;
      height: 100%; } }

.register-bottom-logo {
  display: flex;
  max-width: 90%;
  justify-content: right;
  width: 1300px;
  margin: 0 auto; }
  .register-bottom-logo .disclaimer {
    display: none; }
    @media (max-width: 767px) {
      .register-bottom-logo .disclaimer {
        display: block; } }
  .register-bottom-logo img {
    height: 100%;
    width: auto; }

.register-content {
  position: relative;
  width: 100%;
  margin-bottom: 50px; }
  .register-content .register-background {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0px; }
    .register-content .register-background .register-background {
      display: block; }
    .register-content .register-background .mobile-background {
      display: none; }
  .register-content .input-form form.register_form {
    margin-right: 0; }
    .register-content .input-form form.register_form .input-field {
      margin-top: 0px;
      margin-bottom: 0px; }
      .register-content .input-form form.register_form .input-field label {
        top: 9px; }
      .register-content .input-form form.register_form .input-field .iznos-racuna-forma #bill_ammount1, .register-content .input-form form.register_form .input-field .iznos-racuna-forma #bill_ammount2 {
        position: relative; }
        .register-content .input-form form.register_form .input-field .iznos-racuna-forma #bill_ammount1::after, .register-content .input-form form.register_form .input-field .iznos-racuna-forma #bill_ammount2::after {
          position: absolute;
          content: "RSD";
          right: 0; }
    .register-content .input-form form.register_form .racuni-forma .special-input-borders input#bill_number1, .register-content .input-form form.register_form .racuni-forma .special-input-borders input#bill_number2 {
      width: 100%;
      z-index: 2; }
    .register-content .input-form form.register_form .racuni-forma .special-input-borders.racun2 {
      margin-top: 16px; }
    .register-content .input-form form.register_form .form-group {
      margin-bottom: 0.5rem; }

@media (min-width: 992px) and (max-width: 1199px) {
  .register-container .register-content .register-background {
    margin-left: -30px;
    max-width: 90%; }
    .register-container .register-content .register-background img {
      max-width: 85%; }
  .register-container .register-content .input-form {
    margin-right: -30px; } }
@media (max-width: 991px) {
  .register-container .register-content .register-background {
    position: relative;
    margin-top: -60px; }
  .register-container .register-content .input-form form.register_form {
    margin-left: auto !important;
    margin-right: auto !important; }

  .submit_btn {
    margin-left: auto !important;
    margin-right: auto !important; } }
@media (max-width: 767px) {
  .register-container {
    max-width: 100%;
    padding: 0px; }
    .register-container .register-content .register-background {
      margin-left: auto;
      margin-right: auto; }
      .register-container .register-content .register-background .desktop-background {
        display: none; }
      .register-container .register-content .register-background .mobile-background {
        display: block;
        width: 95%;
        margin-left: auto; }
    .register-container .register-content .input-form form.register_form {
      width: 411px;
      max-width: 80%; } }
@media (max-width: 500px) {
  .register-container .register-content .input-form form.register_form .input-field .racuni-forma .special-input-borders::after {
    display: none; }
  .register-container .register-content .input-form form.register_form .input-field .racuni-forma .special-input-borders input#bill_number1, .register-container .register-content .input-form form.register_form .input-field .racuni-forma .special-input-borders input#bill_number2 {
    letter-spacing: normal; } }
.register_headline h1 {
  font-size: 22px;
  text-align: center; }
.register_headline h3 {
  font-size: 20px;
  text-align: center; }
.register_headline figure, .register_headline .subimage_content {
  text-align: center; }

.register_form {
  width: 400px;
  margin: 0 auto; }
  @media (max-width: 767px) {
    .register_form {
      width: 100%; } }
  .register_form .question-mark {
    border: 0;
    padding: 0;
    background: transparent;
    position: absolute;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    right: 0;
    width: 30px;
    height: 30px;
    color: #fff; }
  .register_form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../img/arrow.png);
    background-position: right 10px center;
    background-repeat: no-repeat; }
    @media (max-width: 767px) {
      .register_form select {
        font-size: 14px;
        padding-left: 0; } }

.register_headline img {
  margin: 0 auto;
  display: table; }
  @media (max-width: 767px) {
    .register_headline img {
      display: none; } }

.disclaimer {
  width: 100%;
  text-align: left;
  font-size: 12px; }

.input_placeholder {
  color: #ffffff; }

.input-field .input_placeholder {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0; }

.form-control {
  border-radius: 0px;
  border: none; }

.form-group label {
  margin-bottom: 5px; }

.date-selects {
  display: flex; }
  .date-selects .form-control {
    border-radius: 0px;
    border: none; }
    .date-selects .form-control:nth-of-type(2) {
      margin: 0 3px; }

input#phone {
  position: relative; }
  input#phone::after {
    content: "+381";
    color: #ffffff;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate3d(0, -50%, 0); }

.register_form input {
  border-bottom: 1px solid #fff !important; }
.register_form .input-field.posalji {
  border: none !important;
  display: none; }
.register_form button#broj_racuna {
  right: 50%; }
.register_form #iznos_racuna1 {
  right: 50%; }

span.error-message {
  position: absolute;
  bottom: -20px;
  left: 0; }

span.error-year {
  left: calc(100% / 3 * 2); }

span.error-day {
  left: calc(100% / 3); }

.posalji2 {
  margin: 40px auto 0 auto; }

.racuni-forma {
  display: flex;
  justify-content: space-between;
  flex-direction: column; }
  .racuni-forma input#bill_number1 {
    margin-right: 8px;
    position: relative; }
    .racuni-forma input#bill_number1::after {
      content: "RSD";
      position: absolute;
      transform: translateY(-50%);
      right: 0;
      color: #fff; }
  .racuni-forma input#bill_number2 {
    position: relative; }
    .racuni-forma input#bill_number2::after {
      content: "RSD";
      position: absolute;
      transform: translateY(-50%);
      right: 0;
      color: #fff; }
  .racuni-forma label {
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    cursor: text;
    transition: transform .2s ease-out, color .2s ease-out;
    transform-origin: 0% 100%;
    text-align: initial;
    transform: translateY(12px);
    padding-left: 15px; }
    .racuni-forma label:nth-of-type(2) {
      left: 50%; }
    .racuni-forma label.active {
      transform: translateY(-14px) scale(0.8);
      transform-origin: 0 0; }

.iznos-racuna-forma {
  display: flex;
  justify-content: space-between; }
  .iznos-racuna-forma input#bill_ammount1 {
    margin-right: 8px; }
  .iznos-racuna-forma label {
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    cursor: text;
    transition: transform .2s ease-out, color .2s ease-out;
    transform-origin: 0% 100%;
    text-align: initial;
    transform: translateY(12px);
    padding-left: 15px; }
    .iznos-racuna-forma label:nth-of-type(2) {
      left: 50%; }
    .iznos-racuna-forma label.active {
      transform: translateY(-14px) scale(0.8);
      transform-origin: 0 0; }

.iznos-racuna1 {
  width: 50%;
  margin-right: 4px; }

.iznos-racuna2 {
  width: 50%;
  margin-left: 4px; }
  .iznos-racuna2 label {
    left: 50%; }

@media (min-width: 992px) {
  .register_headline h1 {
    font-size: 120px; }
  .register_headline h3 {
    font-size: 24px; } }
@media (min-width: 1200px) {
  .register_headline {
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .register_headline h1 {
      font-size: 140px;
      text-align: center;
      margin-bottom: 0;
      font-weight: 700; }
    .register_headline h3 {
      font-size: 51px;
      text-align: center;
      margin-bottom: 0;
      font-weight: 700; }

  .subimage_content span {
    font-size: 22px;
    display: block;
    margin: 0 auto;
    width: 60%; }

  .disclaimer {
    width: 100%;
    text-align: center;
    font-size: 12px; } }
.input-field input {
  color: #ffffff; }
  @media (max-width: 767px) {
    .input-field input {
      font-size: 14px; } }

.racun1 {
  width: 100%;
  margin-right: 4px; }

.racun2 {
  width: 100%;
  margin-left: 4px;
  position: relative; }
  .racun2 label {
    left: 0;
    margin-left: -5px; }

.shopping_select, .shopping_select2 {
  position: relative; }
  .shopping_select label, .shopping_select2 label {
    text-align: left;
    color: #ffffff;
    padding-left: 15px;
    font-size: 16px; }

.shopping_select2 {
  display: none; }

.racun2 {
  display: none; }

.posalji button {
  min-width: 400px;
  margin-right: 0; }
  @media (max-width: 639px) {
    .posalji button {
      min-width: 200px; } }

.racuni {
  display: flex;
  justify-content: space-between; }
  .racuni .input-field {
    width: 45%; }

.awards_title {
  color: #ffffff;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center; }

.osvoji {
  font-size: 30px;
  font-family: "Gotham", sans-serif;
  font-weight: 400;
  margin: 20px auto 0 auto; }
  @media (max-width: 639px) {
    .osvoji {
      font-size: 18px; } }

span.textino-whitino {
  color: #009cd1;
  background-color: #fff;
  padding: 5px; }

.bottom-logo {
  background-image: url("../img/homeFooterBackground.png");
  height: 80px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

@media (max-width: 768px) {
  .awards-container .mobile .main-row {
    border-bottom: none; }
    .awards-container .mobile .main-row img {
      margin-right: auto;
      margin-left: auto;
      max-width: 90%;
      margin-top: -60px; }

  .bottom-logo {
    background-position: right; } }
.winners-container {
  display: flex;
  flex-direction: row;
  position: relative; }
  .winners-container .footer-icon {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }
    .winners-container .footer-icon img {
      width: 100%; }
  .winners-container .winners-background-left {
    background-image: url("../img/winners-left-background.png");
    background-size: contain;
    height: 100%;
    width: 300px;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 35px; }
    .winners-container .winners-background-left .winners-mob-cover {
      display: none; }
  .winners-container .winners-list-container {
    width: 450px;
    margin: 0 auto;
    z-index: 1;
    padding-top: 50px; }
  .winners-container .winners-background-right {
    background-image: url("../img/winnersRightBackground.png");
    background-size: contain;
    height: 100%;
    width: 500px;
    background-repeat: no-repeat;
    position: absolute;
    right: -100px;
    top: 0; }

@media (min-width: 769px) and (max-width: 991px) {
  .winners-container {
    margin-top: -58px; }
    .winners-container .winners-list-container {
      margin-top: 400px !important; } }
@media (max-width: 768px) {
  .winners-container {
    flex-direction: column;
    position: inherit; }
    .winners-container .winners-background-left {
      margin-top: -58px;
      position: initial;
      width: 100%;
      height: auto;
      background: none;
      padding-left: 20px; }
      .winners-container .winners-background-left .winners-mob-cover {
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto; }
    .winners-container .winners-list-container {
      z-index: 0;
      max-width: 85%; }
    .winners-container .winners-background-right {
      display: none; } }
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .winners-container .winners-background-left {
    width: 230px; }
  .winners-container .winners-background-right {
    width: 390px;
    right: -100px; } }
.search_container {
  overflow: hidden; }
  @media (max-width: 767px) {
    .search_container {
      margin: 15px auto 30px auto;
      display: block; } }
  .search_container h1 {
    font-weight: normal;
    text-align: right; }
    @media (max-width: 767px) {
      .search_container h1 {
        font-size: 24px;
        text-align: center;
        text-align: center; } }
    @media (min-width: 768px) and (max-width: 1199px) {
      .search_container h1 {
        font-size: 26px; } }

div.dataTables_wrapper div.dataTables_filter input {
  padding: 0 10px;
  height: 40px; }

div.dataTables_wrapper div.dataTables_filter {
  margin-left: -20px; }
  @media (max-width: 767px) {
    div.dataTables_wrapper div.dataTables_filter {
      margin-left: 0; } }
  div.dataTables_wrapper div.dataTables_filter label {
    overflow-x: hidden; }

@media (min-width: 768px) and (max-width: 991px) {
  #winners_wrapper {
    margin-bottom: 40px; } }
@media (min-width: 992px) {
  #winners_wrapper {
    margin-bottom: 30px; } }

input.form-control.form-control-sm {
  background-color: #fff;
  width: 450px !important;
  padding: 0 10px;
  height: 40px;
  border: none;
  background-image: url(../img/lupa.png);
  background-repeat: no-repeat;
  background-position: right 30px center; }
  @media (max-width: 767px) {
    input.form-control.form-control-sm {
      font-size: 12px;
      height: 34px;
      margin-bottom: 0;
      width: 100% !important; } }

input[type=search]:not(.browser-default):focus:not([readonly]) {
  border: none;
  box-shadow: none; }

#pills-tab {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5px 1fr 5px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 5px;
  column-gap: 5px;
  margin-bottom: 0px; }
  @media (max-width: 767px) {
    #pills-tab {
      display: flex;
      margin-bottom: 0; } }
  @media (max-width: 767px) {
    #pills-tab li {
      margin: 0 auto; }
      #pills-tab li:first-of-type {
        order: 2; }
      #pills-tab li:nth-of-type(2) {
        order: 1;
        margin-bottom: 5px; } }
  #pills-tab li a {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    border: 0;
    border-radius: 0;
    font-weight: 700;
    white-space: nowrap; }
    @media (max-width: 767px) {
      #pills-tab li a {
        padding: 5px 50px; } }

@media (max-width: 767px) {
  .winners-heading {
    font-size: 14px !important;
    text-align: left;
    padding-left: 10px; }

  .winners-list-heading {
    margin-bottom: 20px; }

  .mozes-osvojiti {
    display: none; }

  #spin-button {
    width: 80%; } }
.table {
  color: #ffffff; }
  .table th {
    border-top: 0; }
  .table td {
    text-align: center; }
    @media (max-width: 767px) {
      .table td {
        font-size: 12px; } }
  .table thead {
    color: #f1a11d;
    background-color: #ffffff; }
    .table thead th {
      border-bottom: 0;
      text-align: center;
      text-transform: uppercase; }
  .table tbody tr {
    border-bottom: 1px solid #ffffff; }

table.dataTable {
  border-collapse: collapse !important; }

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media (max-width: 640px) {
    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
      margin-bottom: 15px; } }
  div.dataTables_wrapper div.dataTables_paginate ul.pagination li {
    background-color: transparent;
    border-radius: 0;
    border: 0; }
    div.dataTables_wrapper div.dataTables_paginate ul.pagination li a {
      background-color: transparent;
      color: #ffffff;
      border: 0;
      border-radius: 0;
      font-weight: 600; }
      @media (max-width: 767px) {
        div.dataTables_wrapper div.dataTables_paginate ul.pagination li a {
          font-size: 20px;
          font-weight: bold; } }
    div.dataTables_wrapper div.dataTables_paginate ul.pagination li.active {
      position: relative; }
      div.dataTables_wrapper div.dataTables_paginate ul.pagination li.active::after {
        content: '';
        display: block;
        height: 1px;
        background-color: #ffffff;
        width: 70%;
        margin: 0 auto; }

table#winners th {
  color: #585858; }
  @media (max-width: 767px) {
    table#winners th {
      color: #0099cc;
      font-size: 12px;
      display: table-cell;
      vertical-align: middle; }
      table#winners th::before, table#winners th::after {
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%); } }

@media (min-width: 1200px) {
  table#winners.dataTable thead tr th,
  table#winners2.dataTable thead tr th,
  table#winners3.dataTable thead tr th {
    width: calc(100% / 3) !important; } }
.slot-line-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 180px;
  height: 245px; }

.six-slot-machine {
  justify-content: space-around; }
  @media (max-width: 767px) {
    .six-slot-machine .slot-line-container {
      height: 155px;
      width: calc(100% / 6); } }
  @media (max-width: 991px) {
    .six-slot-machine .slot-image {
      width: auto; } }
  @media (min-width: 992px) {
    .six-slot-machine .slot-image {
      width: auto; } }

.contact-child-container {
  position: relative; }
  .contact-child-container .contact-background {
    background-image: url("../img/kontaktBackground.png");
    position: absolute;
    height: 500px;
    width: 100%;
    background-position: left top;
    background-repeat: no-repeat;
    border-bottom: 3px solid #ee252a;
    z-index: 0; }
    .contact-child-container .contact-background img {
      display: none; }
  .contact-child-container .contact-container {
    width: 400px;
    margin-left: auto;
    padding-top: 50px;
    position: relative; }
    .contact-child-container .contact-container h1 {
      font-family: "blogscriptbold";
      padding-top: 20px; }
    .contact-child-container .contact-container h3 {
      text-transform: uppercase; }
    .contact-child-container .contact-container .special-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }

@media (max-width: 767px) {
  .contact-parent-container {
    max-width: 100%; }
    .contact-parent-container .contact-child-container {
      max-width: 100%; }
      .contact-parent-container .contact-child-container .contact-background {
        margin-top: -60px;
        border-bottom: none;
        position: relative;
        background: none;
        height: auto; }
        .contact-parent-container .contact-child-container .contact-background img {
          display: block;
          width: 100%;
          height: auto;
          margin-left: auto;
          margin-right: -16px; }
      .contact-parent-container .contact-child-container .contact-container {
        margin: 0 auto;
        padding-top: 20px;
        width: 90%; }
        .contact-parent-container .contact-child-container .contact-container h4 {
          font-size: 20px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .contact-parent-container {
    max-width: 100%; }
    .contact-parent-container .contact-child-container {
      max-width: 100%; }
      .contact-parent-container .contact-child-container .contact-background {
        margin-top: -60px;
        background-position: center top;
        background-size: contain; }
      .contact-parent-container .contact-child-container .contact-container {
        margin: 420px auto 100px auto; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .contact-parent-container {
    padding: 0; }

  .contact-child-container {
    max-width: 1024px; }
    .contact-child-container .contact-background {
      background-size: 75%; }
    .contact-child-container h4 {
      font-size: 21px; } }
.contact-desktop .row .container .bottom-logo {
  margin-top: 120px; }

.container_section {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 10px; }
  .container_section.flex_row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .container_section p,
  .container_section h1,
  .container_section h2,
  .container_section h3,
  .container_section h4,
  .container_section h5,
  .container_section figure {
    margin: 0; }
  @media (max-width: 767px) {
    .container_section .usce-shopping {
      margin-bottom: 30px; } }

.pravila-container {
  width: 70%;
  padding-top: 30px; }
  .pravila-container .pravila-title {
    text-transform: uppercase;
    color: #fff;
    font-family: "blogscriptbold";
    font-size: 56px;
    padding-right: 20px; }

.pravila-right {
  width: 30%; }

.pravila-fixed-logo {
  position: fixed;
  right: 15%;
  bottom: 10%; }

@media (max-width: 1200px) {
  .main-pravila-container {
    max-width: 95%; } }
@media (max-width: 991px) {
  .pravila-container {
    width: 100%;
    max-width: 100%; }

  .pravila-right {
    display: none; }

  .pravila-fixed-logo {
    display: none; } }
.rules_head__content {
  font-size: 12px;
  margin-bottom: 10px;
  width: 100% !important; }

.rules_head__title {
  padding: 0px 10px;
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 10px; }

.rules_title {
  font-size: 30px;
  font-weight: bold; }

.rules_list {
  font-size: 14px; }

@media (min-width: 1200px) {
  .rules_head__content {
    font-size: 16px;
    width: 85%;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto; }

  .rules_head__title {
    padding: 0px 10px;
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 20px; } }
.table .thead-dark th {
  font-size: 14px;
  vertical-align: middle; }

.rules_head__title {
  background-color: #fff;
  color: #0090d2; }

h2.rules_title {
  font-size: 60px;
  font-weight: bold; }
  @media (max-width: 639px) {
    h2.rules_title {
      font-size: 30px; } }
  @media (min-width: 640px) and (max-width: 991px) {
    h2.rules_title {
      font-size: 42px; } }

.hidden-container {
  display: none; }

#winner-modal .winner-cover {
  display: block; }
#winner-modal .left {
  width: 550px;
  margin-right: 50px;
  padding-top: 50px; }
  @media (max-width: 1200px) {
    #winner-modal .left {
      width: 740px; } }
  @media (max-width: 991px) {
    #winner-modal .left {
      width: 90%;
      margin: 0 auto;
      padding-top: 0px; } }
  @media (max-width: 991px) {
    #winner-modal .left .main-cestitamo-top-left,
    #winner-modal .left .main-cestitamo-bottom-left {
      display: none; } }
  #winner-modal .left .main-cestitamo-mob-cover {
    display: none;
    margin: 0 auto; }
    @media (max-width: 991px) {
      #winner-modal .left .main-cestitamo-mob-cover {
        display: block; } }
  #winner-modal .left .kombinacija-brojeva-container {
    width: auto;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 60px; }
    #winner-modal .left .kombinacija-brojeva-container .kombinacija-brojeva-title {
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      font-size: 22px; }
      @media (max-width: 450px) {
        #winner-modal .left .kombinacija-brojeva-container .kombinacija-brojeva-title {
          font-size: 20px; } }
    #winner-modal .left .kombinacija-brojeva-container .kombinacija-brojeva .numberBox {
      width: 32px;
      height: 34px;
      background: #fff;
      display: inline-block;
      text-align: center;
      border-radius: 6px;
      margin-left: 3px;
      margin-right: 3px;
      box-shadow: 0px 1px 8px -2px #000; }
      @media (max-width: 450px) {
        #winner-modal .left .kombinacija-brojeva-container .kombinacija-brojeva .numberBox {
          width: 19px !important;
          height: 28px; } }
      #winner-modal .left .kombinacija-brojeva-container .kombinacija-brojeva .numberBox p {
        font-size: 19px;
        color: #0090d2;
        margin-bottom: 0px;
        padding-top: 5px;
        font-weight: bold; }
        @media (max-width: 450px) {
          #winner-modal .left .kombinacija-brojeva-container .kombinacija-brojeva .numberBox p {
            font-size: 17px;
            padding-top: 2px; } }
@media (max-width: 991px) {
  #winner-modal .right {
    display: none; } }

@media (max-width: 991px) {
  .main-winner-container {
    max-width: 90%; } }
@media (max-width: 991px) {
  .main-winner-container .row .container {
    max-width: 100%; } }
.main-winner-container .row .container .top-background {
  margin-top: -30px;
  display: block; }
  @media (max-width: 500px) {
    .main-winner-container .row .container .top-background {
      display: none; } }
.main-winner-container .row .container .top-mob-background {
  display: none; }
  @media (max-width: 500px) {
    .main-winner-container .row .container .top-mob-background {
      display: block;
      margin-top: -30px; } }
@media (max-width: 500px) {
  .main-winner-container .row .container .special-margin {
    margin-top: -130px !important; } }
.main-winner-container .row .container .slot-machine {
  padding-top: 0px;
  margin-top: -40px; }
  @media (max-width: 500px) {
    .main-winner-container .row .container .slot-machine {
      justify-content: center; } }
  @media (max-width: 768px) {
    .main-winner-container .row .container .slot-machine {
      padding-top: 30px; } }
  .main-winner-container .row .container .slot-machine .slot-line-container {
    position: relative;
    width: 90px;
    height: 150px;
    background-image: none;
    background-color: #099ad7; }
    @media (max-width: 500px) {
      .main-winner-container .row .container .slot-machine .slot-line-container {
        height: 45px;
        width: 30px;
        -webkit-box-shadow: inset 0px 10px 50px 10px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: inset 0px 10px 50px 10px rgba(0, 0, 0, 0.1);
        box-shadow: inset 0px 10px 50px 10px rgba(0, 0, 0, 0.1);
        margin-left: 2px;
        margin-right: 2px;
        border-radius: 5px; } }
    @media (min-width: 501px) and (max-width: 768px) {
      .main-winner-container .row .container .slot-machine .slot-line-container {
        height: 70px;
        width: 45px;
        border-radius: 5px; } }
    @media (min-width: 769px) and (max-width: 991px) {
      .main-winner-container .row .container .slot-machine .slot-line-container {
        height: 110px; } }
    @media (max-width: 1200px) and (min-width: 991px) {
      .main-winner-container .row .container .slot-machine .slot-line-container {
        width: 80px; } }
    @media (max-width: 768px) {
      .main-winner-container .row .container .slot-machine .slot-line-container .slot-line img {
        width: 15px;
        height: 30px;
        left: 35% !important; } }
    @media (max-width: 500px) {
      .main-winner-container .row .container .slot-machine .slot-line-container .slot-line img {
        left: 24% !important; } }
    .main-winner-container .row .container .slot-machine .slot-line-container .slot-line-cover-top {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 30%;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent);
      z-index: 1; }
    .main-winner-container .row .container .slot-machine .slot-line-container .slot-line-cover-bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 30%;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
      z-index: 1; }
.main-winner-container .row .container .bottom-background {
  margin-bottom: 30px;
  display: block; }
  @media (max-width: 500px) {
    .main-winner-container .row .container .bottom-background {
      width: 90%;
      margin: 30px auto;
      display: none; } }
.main-winner-container .row .container .bottom-mob-background {
  margin-bottom: 30px;
  display: none; }
  @media (max-width: 500px) {
    .main-winner-container .row .container .bottom-mob-background {
      display: block;
      width: 90%;
      margin: 30px auto; } }

.main-win-bottom-logo {
  width: 100%; }
  @media (max-width: 610px) {
    .main-win-bottom-logo {
      max-width: 90%; } }
  @media (max-width: 768px) {
    .main-win-bottom-logo img {
      height: 70%; } }

.hundred-thousand-winner-container .row .container .top-background {
  margin-left: -15%; }
.hundred-thousand-winner-container .row .container .slot-machine {
  margin-top: -125px; }

.main_winner_content {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto; }
  @media (max-width: 767px) {
    .main_winner_content p {
      font-size: 12px; } }

.izvlacenje-glavne {
  font-size: 36px;
  font-family: 'Gotham', sans-serif;
  font-weight: 400; }
  @media (max-width: 767px) {
    .izvlacenje-glavne {
      font-size: 26px; } }

.glavna-nagrada {
  font-family: 'Gotham', sans-serif;
  font-weight: bold;
  font-size: 32px;
  padding: 5px 65px;
  max-width: 475px;
  display: block;
  margin: 0 auto; }
  @media (max-width: 767px) {
    .glavna-nagrada {
      font-size: 22px;
      padding: 5px 30px;
      max-width: 80%; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .glavna-nagrada {
      font-size: 24px; } }

.modal {
  border-radius: 7px; }
  .modal#modal1 {
    width: 700px;
    height: auto;
    background-size: cover;
    max-width: 100%;
    max-height: initial; }
    @media (max-width: 768px) {
      .modal#modal1 {
        width: 90%; } }
    @media (max-width: 500px) {
      .modal#modal1 {
        width: 80%; } }
    .modal#modal1 .modal_footer__img {
      position: absolute;
      bottom: 10px;
      right: 10px;
      width: 15%; }
    .modal#modal1 .modal-content {
      position: relative;
      background-color: transparent !important;
      background-image: url("../img/popup-background.png");
      border: 5px solid #ffffff;
      border-radius: 7px;
      font-family: "blogscriptbold";
      width: 700px;
      height: 500px; }
      @media (max-width: 768px) {
        .modal#modal1 .modal-content {
          width: 100%; } }
      .modal#modal1 .modal-content .modal-sub-img {
        flex-direction: row;
        width: 100%;
        margin: 0 auto; }
        @media (max-width: 550px) {
          .modal#modal1 .modal-content .modal-sub-img {
            flex-direction: column; } }
        .modal#modal1 .modal-content .modal-sub-img .modal_subtitle__container {
          width: 50%; }
          @media (max-width: 550px) {
            .modal#modal1 .modal-content .modal-sub-img .modal_subtitle__container {
              width: 100%; } }
          .modal#modal1 .modal-content .modal-sub-img .modal_subtitle__container .modal_subtitle {
            text-transform: uppercase;
            color: #fff;
            font-size: 22px;
            width: 100%;
            line-height: 1.3; }
            .modal#modal1 .modal-content .modal-sub-img .modal_subtitle__container .modal_subtitle h4 {
              font-size: 40px;
              margin-bottom: 0px; }
            .modal#modal1 .modal-content .modal-sub-img .modal_subtitle__container .modal_subtitle p {
              padding-bottom: 0px;
              margin-bottom: 0px; }
            @media (max-width: 639px) {
              .modal#modal1 .modal-content .modal-sub-img .modal_subtitle__container .modal_subtitle {
                font-size: 17px; }
                .modal#modal1 .modal-content .modal-sub-img .modal_subtitle__container .modal_subtitle h4 {
                  font-size: 30px; } }
        .modal#modal1 .modal-content .modal-sub-img .text-center {
          width: 50%; }
          @media (max-width: 550px) {
            .modal#modal1 .modal-content .modal-sub-img .text-center {
              margin: 0 auto; } }
      .modal#modal1 .modal-content .modal_reward__container {
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end; }
      .modal#modal1 .modal-content .modal_title {
        font-size: 85px;
        font-weight: bold;
        padding-top: 50px; }
        @media (max-width: 639px) {
          .modal#modal1 .modal-content .modal_title {
            font-size: 40px; } }
        @media (min-width: 640px) and (max-width: 991px) {
          .modal#modal1 .modal-content .modal_title {
            font-size: 50px; } }
  .modal#modal2 {
    width: 705px;
    height: auto; }
    @media (max-width: 991px) {
      .modal#modal2 {
        width: 90%; } }
    .modal#modal2 .modal-content {
      position: relative;
      border: 0;
      height: 100%;
      background-color: #ee252b;
      border-radius: 0;
      border: 5px solid #ffffff; }
      @media (max-width: 768px) {
        .modal#modal2 .modal-content {
          width: 100%; } }
      @media (max-width: 500px) {
        .modal#modal2 .modal-content .modal_title {
          font-size: 30px; }
        .modal#modal2 .modal-content .modal-sub-img .modal_subtitle__container .modal_subtitle h4 {
          font-size: 20px; }
        .modal#modal2 .modal-content .modal-sub-img .text-center {
          width: 100%; } }
      .modal#modal2 .modal-content .modal_title {
        font-size: 85px;
        font-weight: bold; }
        @media (max-width: 639px) {
          .modal#modal2 .modal-content .modal_title {
            font-size: 28px; } }
        @media (min-width: 640px) and (max-width: 991px) {
          .modal#modal2 .modal-content .modal_title {
            font-size: 50px; } }
      .modal#modal2 .modal-content p.small {
        font-size: 30px;
        color: #fff;
        margin-bottom: 0;
        font-weight: bold; }
        @media (max-width: 639px) {
          .modal#modal2 .modal-content p.small {
            font-size: 20px; } }
      .modal#modal2 .modal-content .modal_title2 {
        font-size: 42px;
        font-weight: bold; }
        @media (max-width: 639px) {
          .modal#modal2 .modal-content .modal_title2 {
            font-size: 21px; } }
      .modal#modal2 .modal-content .modal_subtitle {
        color: #ee252b;
        background-color: #fff;
        padding: 10px 50px;
        width: 100%;
        display: block; }
        @media (max-width: 767px) {
          .modal#modal2 .modal-content .modal_subtitle {
            padding: 5px;
            font-size: 13px; } }
      .modal#modal2 .modal-content .glavna {
        font-size: 30px;
        width: fit-content;
        padding-right: 30px;
        background-color: #0090d2;
        padding-left: 10px; }
        @media (max-width: 767px) {
          .modal#modal2 .modal-content .glavna {
            font-size: 22px; } }
      .modal#modal2 .modal-content figure img {
        display: block;
        margin: 0 auto; }
      .modal#modal2 .modal-content .modal_footer__img {
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 15%; }

.modal-close {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #ffffff;
  display: inline-block; }
  .modal-close .icon-bar-1, .modal-close .icon-bar-2 {
    width: 20px;
    height: 4px;
    background-color: #ffffff;
    margin: 5px 0;
    transition: 0.4s; }
  .modal-close .icon-bar-1 {
    background-color: #ffffff;
    -webkit-transform: rotate(-45deg) translate(2px, 0px);
    -ms-transform: rotate(-45deg) translate(2px, 0px);
    transform: rotate(-45deg) translate(2px, 0px); }
  .modal-close .icon-bar-2 {
    background-color: #ffffff;
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    -ms-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px); }

.afterhours_headline {
  text-align: center;
  padding-top: 30px; }
  @media (max-width: 767px) {
    .afterhours_headline {
      padding-top: 0; } }
  .afterhours_headline h1 {
    font-size: 30px;
    margin-bottom: 0;
    font-family: "Gotham", sans-serif;
    font-weight: 400; }
    @media (max-width: 420px) {
      .afterhours_headline h1 {
        font-size: 14px;
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px); } }
    @media (min-width: 421px) and (max-width: 575px) {
      .afterhours_headline h1 {
        font-size: 16px;
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px); } }
    @media (min-width: 576px) and (max-width: 767px) {
      .afterhours_headline h1 {
        font-weight: normal;
        text-align: left;
        padding-left: 10px;
        font-size: 21px;
        transform: translateY(25px); } }
    @media (max-width: 767px) {
      .afterhours_headline h1 {
        text-align: left;
        padding-left: 10px; } }
  .afterhours_headline h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0; }

.afterhours_header__content {
  text-align: center;
  width: 100%; }
  .afterhours_header__content p {
    margin-bottom: 0; }
  .afterhours_header__content div {
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px; }
  .afterhours_header__content .text_big {
    font-size: 60px;
    font-weight: bold; }
    @media (max-width: 767px) {
      .afterhours_header__content .text_big {
        font-size: 32px;
        text-align: left;
        margin-top: 15px; } }

.afterhours_image__container figure {
  margin: 0; }

@media (min-width: 992px) {
  .afterhours_header__content div {
    width: 35%;
    margin: 0 auto; }

  .afterhours_image__container {
    text-align: center; }
    .afterhours_image__container figure {
      width: 100%; } }
.mozes {
  background-color: #fff;
  color: #0090d2;
  font-size: 26px;
  padding: 0 15px;
  display: table;
  margin: 0 auto; }
  @media (max-width: 767px) {
    .mozes {
      font-size: 15px; } }

.gamefinished_headline {
  text-align: center; }
  .gamefinished_headline h1 {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 0; }
  .gamefinished_headline h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0; }

.gamefinished_header__content {
  text-align: center;
  width: 100%; }
  .gamefinished_header__content p {
    margin-bottom: 0; }
  .gamefinished_header__content div {
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px; }
  .gamefinished_header__content .text_big {
    font-size: 38px; }

.gamefinished_image__container figure {
  margin: 0; }

@media (min-width: 992px) {
  .gamefinished_headline {
    margin-top: 20px;
    text-align: left; }
    .gamefinished_headline h1 {
      font-size: 100px;
      font-weight: bold;
      margin-bottom: 0; }
    .gamefinished_headline h2 {
      font-size: 80px;
      font-weight: bold;
      margin-bottom: 0; }

  .gamefinished_header__content {
    text-align: left;
    padding: 2px 0; }
    .gamefinished_header__content span {
      padding: 5px 10px;
      font-size: 22px; }
    .gamefinished_header__content:first-child span {
      font-weight: bold; }

  .gamefinished_image__container {
    text-align: center;
    margin-top: 20px; }
    .gamefinished_image__container figure {
      width: 100%; } }
@media (max-width: 767px) {
  .game-over .mozes {
    font-size: 21px; }
    .game-over .mozes:first-of-type {
      margin-bottom: 20px; } }

.error_404_container {
  background-color: #fdf1dd;
  margin-bottom: 0;
  margin-top: 5rem; }
  .error_404_container h1 {
    font-size: 2.5rem;
    color: #000000; }
  .error_404_container .go_back_btn {
    background-color: #b1c645;
    outline: none;
    border: none;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    padding: 5px 10px; }

@media (min-width: 1200px) {
  .error_404_container {
    width: 85%;
    margin-left: auto;
    margin-right: auto; }
    .error_404_container .go_back_btn {
      width: 35%;
      margin-right: auto;
      margin-left: 0; } }
.first-list {
  padding-left: 40px !important;
  list-style-type: initial; }

.rules_list__container {
  color: #fff; }
  .rules_list__container li {
    margin-bottom: 10px; }

.modal-terms {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0090d2;
  padding: 40px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.65); }
  @media (max-width: 767px) {
    .modal-terms {
      width: 90%; } }
  .modal-terms p {
    margin-bottom: 0;
    text-align: center; }
  .modal-terms a {
    cursor: pointer; }

#looser-modal {
  display: none; }
  #looser-modal .looser-desk-back {
    display: block;
    margin-bottom: 30px; }
    @media (min-width: 768px) and (max-width: 991px) {
      #looser-modal .looser-desk-back {
        margin-top: -60px; } }
    @media (max-width: 767px) {
      #looser-modal .looser-desk-back {
        margin-top: 0px; } }
  #looser-modal .kombinacija-brojeva-container {
    width: auto;
    text-align: center;
    margin-bottom: 40px; }
    #looser-modal .kombinacija-brojeva-container .kombinacija-brojeva-title {
      text-transform: uppercase;
      color: #fff;
      text-align: center; }
      @media (max-width: 450px) {
        #looser-modal .kombinacija-brojeva-container .kombinacija-brojeva-title {
          font-size: 20px; } }
    #looser-modal .kombinacija-brojeva-container .kombinacija-brojeva .numberBox {
      width: 32px;
      height: 34px;
      background: #fff;
      display: inline-block;
      text-align: center;
      border-radius: 6px;
      margin-left: 3px;
      margin-right: 3px;
      box-shadow: 0px 1px 8px -2px #000; }
      @media (max-width: 450px) {
        #looser-modal .kombinacija-brojeva-container .kombinacija-brojeva .numberBox {
          width: 20px;
          height: 28px; } }
      #looser-modal .kombinacija-brojeva-container .kombinacija-brojeva .numberBox p {
        font-size: 19px;
        color: #0090d2;
        margin-bottom: 0px;
        padding-top: 5px;
        font-weight: bold; }
        @media (max-width: 450px) {
          #looser-modal .kombinacija-brojeva-container .kombinacija-brojeva .numberBox p {
            font-size: 17px;
            padding-top: 2px; } }

.luckyjack-container {
  max-width: 1200px;
  border-bottom: 2px solid red;
  padding-bottom: 60px; }
  @media (max-width: 991px) {
    .luckyjack-container {
      border-bottom: none; } }
  .luckyjack-container .slot-row .lucky-jack-background {
    position: absolute; }
    .luckyjack-container .slot-row .lucky-jack-background .lucky-jack-desk-backg {
      display: block; }
      @media (max-width: 600px) {
        .luckyjack-container .slot-row .lucky-jack-background .lucky-jack-desk-backg {
          display: none; } }
    .luckyjack-container .slot-row .lucky-jack-background .lucky-jack-mob-backg {
      display: none; }
      @media (max-width: 600px) {
        .luckyjack-container .slot-row .lucky-jack-background .lucky-jack-mob-backg {
          display: block;
          margin-left: auto; } }
  .luckyjack-container .slot-row .container {
    max-width: 1220px; }
    .luckyjack-container .slot-row .container .slot-machine {
      justify-content: flex-end;
      padding: 110px 0 50px 0; }
      .luckyjack-container .slot-row .container .slot-machine .slot-line-container {
        position: relative;
        background-image: none;
        background-color: #099ad7;
        height: 240px; }
        .luckyjack-container .slot-row .container .slot-machine .slot-line-container .slot-line img {
          left: 16px;
          box-shadow: 0px 5px 13px #000;
          border-radius: 5px;
          height: 93px; }
        .luckyjack-container .slot-row .container .slot-machine .slot-line-container .slot-line-cover-top {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 30%;
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent);
          z-index: 1; }
        .luckyjack-container .slot-row .container .slot-machine .slot-line-container .slot-line-cover-bottom {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 30%;
          background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
          z-index: 1; }
    .luckyjack-container .slot-row .container #spin-button {
      margin-right: 90px;
      width: 380px; }

.lucky-jack-nagrade {
  display: flex;
  margin: 20px auto 20px auto;
  height: 130px;
  width: 70%; }
  @media (max-width: 991px) {
    .lucky-jack-nagrade {
      width: 90%; } }
  .lucky-jack-nagrade .nagrade-inner-left {
    background-image: url("../img/3000-6000rsd.png");
    height: auto;
    width: 300px;
    background-repeat: no-repeat; }
    @media (max-width: 768px) {
      .lucky-jack-nagrade .nagrade-inner-left {
        background-size: contain; } }
  .lucky-jack-nagrade .nagrade-inner-right {
    padding: 14px 3px;
    line-height: 15px; }
    .lucky-jack-nagrade .nagrade-inner-right h5 {
      color: #ee252a;
      font-family: "blogscriptbold";
      text-transform: uppercase;
      margin-bottom: 0px; }
    .lucky-jack-nagrade .nagrade-inner-right p {
      font-family: 'Gotham', sans-serif;
      color: #fff;
      font-size: 13px;
      margin-bottom: 0px; }

@media (min-width: 992px) and (max-width: 1200px) {
  .luckyjack-container {
    max-width: 95%; }
    .luckyjack-container .slot-row .lucky-jack-background {
      width: 70%; }
      .luckyjack-container .slot-row .lucky-jack-background img {
        width: 90%; }
    .luckyjack-container .slot-row .container .slot-machine {
      justify-content: right;
      padding: 20px 0 50px 0;
      width: 100% !important; }
      .luckyjack-container .slot-row .container .slot-machine .slot-line-container {
        height: 200px;
        width: 150px; }
        .luckyjack-container .slot-row .container .slot-machine .slot-line-container .slot-line {
          width: 83% !important; }
          .luckyjack-container .slot-row .container .slot-machine .slot-line-container .slot-line .slot-image {
            max-width: 100%;
            width: 123px;
            height: 75px; }
    .luckyjack-container .slot-row .container #spin-button {
      width: 300px;
      margin-right: 130px; } }
@media (max-width: 991px) {
  .luckyjack-container .slot-row .lucky-jack-background {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: -60px;
    text-align: center; }
    .luckyjack-container .slot-row .lucky-jack-background img {
      height: 100%;
      width: 90%; }
  .luckyjack-container .slot-row .container .slot-machine {
    justify-content: center;
    padding: 20px 0 50px 0; }
    .luckyjack-container .slot-row .container .slot-machine .slot-line-container {
      height: 200px;
      width: 150px; }
      .luckyjack-container .slot-row .container .slot-machine .slot-line-container .slot-line {
        max-width: 90%; }
        .luckyjack-container .slot-row .container .slot-machine .slot-line-container .slot-line .slot-image {
          max-width: 100%;
          width: 123px;
          height: 75px; } }
@media (max-width: 600px) {
  .luckyjack-container .slot-row .container .slot-machine .slot-line-container {
    height: 150px;
    width: 110px; }
    .luckyjack-container .slot-row .container .slot-machine .slot-line-container .slot-line {
      max-width: 95%; }
      .luckyjack-container .slot-row .container .slot-machine .slot-line-container .slot-line .slot-image {
        width: 80px;
        height: 58px; } }

/*# sourceMappingURL=style.css.map */
